 table.table-fixedheader {
            width: 100%;
        }

        table.table-fixedheader,
        table.table-fixedheader>thead,
        table.table-fixedheader>tbody,
        table.table-fixedheader>thead>tr,
        table.table-fixedheader>tbody>tr,
        table.table-fixedheader>thead>tr>th,
        table.table-fixedheader>tbody>td {
            display: block;
        }

        table.table-fixedheader>thead>tr:after,
        table.table-fixedheader>tbody>tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        table.table-fixedheader>tbody {
            overflow-y: auto;
            height: 200px;
            width: 100%;
        }

        table.table-fixedheader>thead {
            overflow-y: auto;
        }

        table.table-fixedheader>thead::-webkit-scrollbar {
            background-color: inherit;
        }

        table.table-fixedheader>thead>tr>th:after,
        table.table-fixedheader>tbody>tr>td:after {
            content: ' ';
            display: table-cell;
            visibility: hidden;
            clear: both;
        }

        table.table-fixedheader>thead tr th,
        table.table-fixedheader>tbody tr td {
            float: left;
            width: 33.33%;
            border-bottom-width: 0;
        }

        .mt20 {
            margin-top: 20px;
        }

        .mt10 {
            margin-top: 10px;
        }

        .mt5 {
            margin-top: 5px;
        }

        .selected {
            background-color: #42f4b9;
            color: white;
        }

        .p0 {
            padding: 0px;
        }

        .btn-bottom {
            margin-top: 29%;
        }

        @media only screen and (min-width: 768px) {
            .btn-align {
                text-align: right;
            }

        }


        @media only screen and (max-width: 768px) {
            .xsmt5 {
                margin-top: 5px;
            }
        }