#productForm .selectContainer .form-control-feedback,
#productForm .inputGroupContainer .form-control-feedback {
    right: -15px;
}

.tableDiv {
    position: relative;
    overflow-y: auto;
    min-height: 0px;
    max-height: 298px;
}

table.table-fixedheader {
    width: 100%;
    cursor: pointer;
    overflow-y: auto;
    border-color: darkgray;
}

table.table-fixedheader,
table.table-fixedheader > thead,
table.table-fixedheader > tbody,
table.table-fixedheader > thead > tr,
table.table-fixedheader > tbody > tr,
table.table-fixedheader > thead > tr > th,
table.table-fixedheader > tbody > td {
    display: block;
}

table.table-fixedheader > thead > tr:after,
table.table-fixedheader > tbody > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.table-fixedheader > tbody {
    overflow-y: hidden;
    width: 100%;
    border-collapse: collapse;
}

table.table-fixedheader > thead {
    background-color: aliceblue;
    overflow-y: hidden;
  //position: fixed;
  //width: 43.7em;
}

table.table-fixedheader > thead::-webkit-scrollbar {
    background-color: inherit;
}

table.table-fixedheader > thead > tr > th:after,
table.table-fixedheader > tbody > tr > td:after {
    content: ' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
}

table.table-fixedheader > thead tr th,
table.table-fixedheader > tbody tr td {
    float: left;
    width: 33.33%;
    border-bottom-width: 0;
    border-color: darkgray;
}

/**** Single Headed Table Styles***/

table.singleHeadTable > thead tr th,
table.singleHeadTable > tbody tr td {
    float: left;
    width: 100%;
    border-bottom-width: 0;
}

table.singleHeadTable {
    width: 60%;
    cursor: pointer;
    overflow-y: auto;
}

/*********************************/

/******* Double Headed Table *********/

table.doubleHeadTable > thead tr th,
table.doubleHeadTable > tbody tr td {
    float: left;
    width: 50%;
    border-bottom-width: 0;
}

/**********************************/

/******* Five Headed Table *********/

table.fiveHeadTable > thead tr th,
table.fiveHeadTable > tbody tr td {
    float: left;
    width: 20%;
    border-bottom-width: 0;
}

/**********************************/

.mt25 {
    margin-top: 25px;
}

.mt20 {
    margin-top: 20px;
}

.mt15 {
    margin-top: 15px;
}

.mt10 {
    margin-top: 10px;
}

.mt5 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: -5px;
}

.mt-10 {
    margin-top: -10px;
}

.mt-15 {
    margin-top: -15px;
}

.mt-20 {
    margin-top: -20px;
}

.mt-25 {
    margin-top: -25px;
}

.mb10 {
    margin-bottom: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.fmt30 {
    margin-top: 65px;
}

.fmt15 {
    margin-top: 15px;
}

.selected {
    background-color: #818d89;
    color: white;
}

.p0 {
    padding: 0px;
}

.mr60 {
    margin-right: 80px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.navbar-nav > li:last-child > a {
    position: absolute;
    right: -57px;
}

/* Sticky footer
-------------------------------------------------- */

label {
    font-weight: 100 !important;
}

.header {
    margin-top: -30px;
}

html {
    position: relative;
    min-height: 100%;
}

.navbartop {
    /* al color: #337ab7;*/
    font-weight: 900;
    height: 40px;
}

.navbar-light {
    background-color: #cedbcf;
}

.headerbg {
    background-image: url("/public/Images/HeaderBackdrop.jpg");
    background-repeat: repeat;
}

body {
    background-image: url("/public/Images/Body-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    overflow-y: auto;
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    /*  line-height: 60px;*/
    background-color: #e2d4d4;
}

/*------------------------------------------------*/

.btn-bottom {
    margin-top: 29%;
}

@media only screen and (min-width: 768px) {
    .btn-align {
        text-align: right;
    }
    .navbartop {
        display: block;
    }
    .smenu {
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    .xsmt5 {
        margin-top: 5px;
    }
    table.table-fixedheader > thead tr th,
    table.table-fixedheader > tbody tr td {
        float: left;
        width: 33.33%;
        height: 65px;
        border-bottom-width: 0;
    }
    body {
        background-image: url("/public/Images/Body-background - 768.jpg");
        background-repeat: repeat;
        background-size: cover;
        margin-bottom: 15px;
        /* Margin bottom by footer height */
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        /* Set the fixed height of the footer here */
        line-height: 30px;
        /* Vertically center the text there */
        background-color: #f5f5f5;
    }
    .navbartop {
        height: 40px;
    }
    .floatleft {
        position: relative;
        float: left !important;
    }
    .floatright {
        float: right !important;
    }
    .navbartop {
        display: none;
    }
    .smenu {
        display: block;
    }
}

.input-search-sm {
    width: 11em !important;
}

/********** Collapsible area styles ************/

.panel-title > a,
.panel-title > a:active {
    display: block;
    padding: 5px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.ph a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

/************************************************/

/*********** Tabbed Panel************************/

.ml10 {
    margin-left: 20px !important;
    margin-right: 52px !important;
}

.ml20 {
    margin-left: 20px !important;
}

#tab1 .tab-content {
    color: #211f1f;
    background-color: #eaf2fa;
    padding: 5px 15px;
}

.tab {
    background-color: #ebe7e7 !important;
}

/************************************************/

/************** Accounts Info Search Area ******/

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }

}

/***********************************************/

.form {
    line-height: 0.5;
    margin-top: 10px;
}

.fgroup {
    margin-bottom: 0px !important;
}

.py-y {
    padding-left: 32px;
    padding-right: 13px;
}

.pyl-10 {
    padding-left: 10px !important;
}

.pyl-15 {
  padding-left: 15px !important;
}

.pyr-10 {
    padding-right: 13px !important;
}
.pr-25{
  padding-right: 25px !important;
}
.pl-45{
  padding-left: 45px !important;
}

.pos-l {
    position: relative;
    left: 8em;
}

.grid-l{
    display: grid;
}
.py-x{
    padding-left: 15px !important;
    padding-right: 0px !important;
}
.plr-15{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.plr-30{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
//mobile screen styles
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
}