<nav class="eskay-nav-main"><div class="">Masters</div></nav>

<!-- <nav class="eskay-nav-main">

<div class="menudown">
  <div class="menubtn">Masters</div>
  <div class="menudown-links">
    <a href="/schedule">Schedules</a>
    <a href="#">Sub-Schedules</a>
    <a href="#">States</a>
    <a href="#">Districts</a>
    <a href="#">Sales Man</a>
    <a href="#">Areas</a>
    <a href="#">Accounts</a>
    <a href="#">Manufacturers</a>
    <a href="#">Companies</a>
    <a href="#">Products Grouping</a>
    <a href="#">Products</a>
    <a href="#">Stocks</a>
    <a href="#">Discount</a>
    <a href="#">Cash Discounts</a>
    <a href="#">Account Openings</a>
    <a href="#">Schemes</a>
    <a href="#">Area Managers</a>
    <a href="#">Companywise Representatives</a>
    <a href="#">Reps. Yearly Target Entry</a>
    <a href="#">Rep./Area/Customers Entry</a>
    <a href="#">Representatives(P.O.B.)</a>
    <a href="#">Schedul1es</a>
    <a href="#">Sub-Schedules</a>
    <a href="#">States</a>
  </div>
</div>
</nav>
<div class="">
  <button class="">Purchases</button>
  <div class="">
    <a href="#">Link 1</a>
  </div>
</div>

<div class="">
  <button class="">Sales</button>
  <div class="">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div class="">
  <button class="">Inventory Reports</button>
  <div class="">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div class="">
  <button class="">Finance</button>
  <div class="">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div class="">
  <button class="">Finance Reports</button>
  <div class="">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div class="">
  <button class="">GST Reports</button>
  <div class="">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div class="">
  <button class="">Miscellaneous</button>
  <div class="">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> -->

<!-- </nav> -->
