<div class="container-fluid ml10 mt-25">
    <div class='text-left ml10'>
        <h2>{{'accountinformationForm.header.name' | translate}} </h2>
    </div>
    <div class="row mt10">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for Account name" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form" class="form">
                                    <div class="form-group">
                                        <label for="filter">Filter by</label>
                                        <select class="form-control">
                                        <option value="0" selected>Town</option>
                                        <option value="1">Featured</option>
                                        <option value="2">Most popular</option>
                                        <option value="3">Top rated</option>
                                        <option value="4">Most commented</option>
                                    </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control">
                                        <option value="0" selected>Account Code</option>
                                        <option value="1">Featured</option>
                                        <option value="2">Most popular</option>
                                        <option value="3">Top rated</option>
                                        <option value="4">Most commented</option>
                                    </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control">
                                        <option value="0" selected>GST No</option>
                                        <option value="1">Featured</option>
                                        <option value="2">Most popular</option>
                                        <option value="3">Top rated</option>
                                        <option value="4">Most commented</option>
                                    </select>
                                    </div>

                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ml10 mt5">

    <div id="tab1" class='col-xs-12 col-sm-12'>
        <ul class="nav nav-pills tab">
            <li class="active"><a data-toggle="tab" href="#genInfo">General Information</a></li>
            <li><a data-toggle="tab" href="#regInfo">Registration Information</a></li>
            <li><a data-toggle="tab" href="#credentials">Credentials</a></li>
            <li><a data-toggle="tab" href="#others">Others</a></li>
        </ul>

        <div class="tab-content clearfix">
            <div id="genInfo" class="tab-pane fade in active">
                <form class="form">

                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="accountname">{{'accountinformationForm.label.accountname'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="accountName" maxlength="50" required>
                    </div>

                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="subschedule">{{'accountinformationForm.label.subschedule'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="subschedule" maxlength="40" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="schedule">{{'accountinformationForm.label.schedule'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="schedule" maxlength="40" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personaladdress1">{{'accountinformationForm.label.personaladdress1'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="personaladdress1" maxlength="50" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personaladdress2">{{'accountinformationForm.label.personaladdress2'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="personaladdress2" maxlength="50" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personaltown">{{'accountinformationForm.label.personaltown'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="personaltown" maxlength="20" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personalpin">{{'accountinformationForm.label.personalpin'
                                        | translate}}:*</label>
                        <input type="number" class="form-control form-control-sm" name="Name" id="personalpin" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personaldistrict">{{'accountinformationForm.label.personaldistrict'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="personaldistrict" maxlength="20" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personalstate">{{'accountinformationForm.label.personalstate'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="personalstate" maxlength="20" required>
                    </div>

                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personalspecialRemarks">{{'accountinformationForm.label.areaName'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="personalspecialRemarks" maxlength="60" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personalphone">{{'accountinformationForm.label.personalphone'
                                        | translate}}:*</label>
                        <input type="number" class="form-control form-control-sm" name="Name" id="personalphone" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personalMobile">{{'accountinformationForm.label.personalMobile'
                                        | translate}}:*</label>
                        <input type="number" class="form-control form-control-sm" name="Name" id="personalMobile" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personalemail">{{'accountinformationForm.label.personalemail'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="personalemail" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personalemail">{{'accountinformationForm.label.shortName'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="personalemail" required>
                    </div>


                </form>
            </div>
            <div id="regInfo" class="tab-pane fade">
                <form class="form">

                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationlicno1">{{'accountinformationForm.label.registrationlicno1'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="registrationlicno1" maxlength="25" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationlicno2">{{'accountinformationForm.label.registrationlicno2'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="registrationlicno2" maxlength="25" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationlicno2">{{'accountinformationForm.label.registrationlicexpiry'
                                        | translate}}:*</label>
                        <input type="date" class="form-control form-control-sm" name="Name" id="registrationlicexpiry" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationretlic1">{{'accountinformationForm.label.registrationretlic1'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="registrationretlic1" maxlength="25" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationretlic2">{{'accountinformationForm.label.registrationretlic2'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="registrationretlic2" maxlength="25" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationretexpiry">{{'accountinformationForm.label.registrationretexpiry'
                                        | translate}}:*</label>
                        <input type="date" class="form-control form-control-sm" name="Name" id="registrationretexpiry" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationfoodlicno">{{'accountinformationForm.label.registrationfoodlicno'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="registrationfoodlicno" maxlength="25" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationotherlicense">{{'accountinformationForm.label.registrationotherlicense'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="registrationotherlicense" maxlength="25" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationotherlicenseexp">{{'accountinformationForm.label.registrationotherlicenseexp'
                                        | translate}}:*</label>
                        <input type="date" class="form-control form-control-sm" name="Name" id="registrationotherlicenseexp" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationgst">{{'accountinformationForm.label.registrationgst'
                                        | translate}}:*</label>
                        <select class="form-control form-control-sm" id="registrationgst" maxlength="6">
                                        <option value="0">RGST</option>
                                        <option value="1">UGST</option>
                                        <option value="2">IGST</option>
                                        <option value="3">IUGST</option>
                                    </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationgstin">{{'accountinformationForm.label.registrationgstin'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="registrationgstin" maxlength="5" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationnaturegst">{{'accountinformationForm.label.registrationnaturegst'
                                        | translate}}:*</label>
                        <select class="form-control form-control-sm" id="registrationnaturegst" maxlength="9">
                                        <option value="0">Regular</option>
                                        <option value="1">Composite</option>
                                    </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="registrationuin">{{'accountinformationForm.label.registrationuin'
                                        | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="registrationuin" maxlength="25" required>
                    </div>

                </form>
            </div>

            <div id="credentials" class="tab-pane fade">
                <form class="form">
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="credentialscash">{{'accountinformationForm.label.credentialscash'
                                        | translate}}:*</label>
                        <select class="form-control form-control-sm" id="credentialscash" maxlength="6">
                                        <option value="0">Cash</option>
                                        <option value="1">Credit</option>
                                    </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="credentialscustomer">{{'accountinformationForm.label.credentialscustomer'
                                        | translate}}:*</label>
                        <select class="form-control form-control-sm" id="credentialscash" maxlength="10">
                                        <option value="0">Whole Sale</option>
                                        <option value="1">Retail</option>
                                    </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="credentialscredit">{{'accountinformationForm.label.credentialscredit'
                                        | translate}}:*</label>
                        <input type="number" class="form-control form-control-sm" name="Name" id="credentialscredit" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" step="0.01" maxlength="4" required>
                    </div>
                    <div class="name form-group col-sm-4">
                        <label class="col-form-label" for="credentialsdue">{{'accountinformationForm.label.credentialsdue'
                                        | translate}}:*</label>
                        <input type="date" class="form-control form-control-sm" name="Name" id="credentialsdue" maxlength="3" required>
                    </div>

                </form>
            </div>
            <div id="others" class="tab-pane fade">
                <form class="form">
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="personalcontact">{{'accountinformationForm.label.personalcontact' | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="personalcontact" maxlength="30" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="hsncode">{{'accountinformationForm.label.hsncode' | translate}}:*</label>
                        <input type="number" class="form-control form-control-sm" name="Name" id="hsncode" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="8" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="saccode">{{'accountinformationForm.label.saccode' | translate}}:*</label>
                        <input type="number" class="form-control form-control-sm" name="Name" id="saccode" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="8" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="saccode">{{'accountinformationForm.label.rateoftax' | translate}}:*</label>
                        <input type="number" class="form-control form-control-sm" name="Name" id="saccode" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" step="0.01" maxlength="8" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="OpeningBalance">{{'accountinformationForm.label.openingBalance' | translate}}:*</label>
                        <input type="number" class="form-control form-control-sm" name="Name" id="OpeningBalance" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" step="0.01" maxlength="4" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="openingtype">{{'accountinformationForm.label.openingtype' | translate}}:*</label>
                        <select class="form-control form-control-sm" id="openingtype" maxlength="6">
                                        <option value="0">Credit</option>
                                        <option value="1">Debit</option>
                                    </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label" for="code">{{'accountinformationForm.label.code' | translate}}:*</label>
                        <input type="text" class="form-control form-control-sm" name="Name" id="code" maxlength="6" required>
                    </div>

                </form>
            </div>
        </div>
        <div class="mt5 p0">
            <button type="submit" class="btn btn-primary  mb10" ng-click="vm.create()">{{'button.save' | translate}}
                    </button>
        </div>
    </div>

</div>


