<div class="container-fluid">
    <div class='row py-y'>
        <form id="searchAccountsForm" class="form-inline text-left mt25 text-center">
            <div class='text-left pt7'>
                <h2>{{'accountsOpenings.header.name' | translate}} </h2>
            </div>
            <label class="col-form-label" for="ScheduleType">{{'common.label.search' | translate}}:</label>
            <div class="form-group mx-sm-3">
                <label for="searchAccount" class="sr-only mt10">{{'accountsOpenings.lable.searchAccount' | translate}}</label>
                <input type="text" class="form-control" id="searchAccount" placeholder="{{'accountsOpenings.lable.searchAccount' | translate}}" ng-model="vm.account" required>
            </div>
        </form>

        <common-grid-component filter-options="vm.schedule" headers-list="vm.accountOpeningsTableHeaders" grid-data="vm.data" grid-call-back="vm.onSelectRow(value, index)" row-number="vm.selectedRow"></common-grid-component>

        <div class="btn-align p0" ng-if="vm.selected">
            <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
            <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
        </div>
    </div>

</div>
