<header-menu-bar></header-menu-bar>
<div class="container">
    <div class='row'>
        <div class='col-xs-12 col-sm-4'>
            <form>
                <div class='text-left pt7'>
                    <h2>{{'areaform.header.namproe' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="AreaName">{{'areaform.label.area.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="Name" id="AreaName" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="ExecutiveName">{{'areaform.label.executive.name' | translate}}:</label>
                    <input type="text" class="form-control form-control-lg" name="Town" id="ExecutiveName" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()">{{'button.save' | translate}}
                </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.save()">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>
            </form>
        </div>

        <div class='col-xs-12 col-sm-1'></div>

        <div class='col-xs-12 col-sm-6'>
            <form class="form-inline mt25">
                <div class="form-group mx-sm-3">
                    <label for="areaName" class="sr-only mt10">{{'areaform.label.area.name' | translate}}</label>
                    <input type="text" class="form-control" id="areaName" placeholder="{{'areaform.label.area.name' | translate}}" ng-model="vm.searchScheduleName" required>
                </div>
                <div class="form-group mx-sm-3">
                    <label for="executiveName" class="sr-only mt10">{{'areaform.label.executive.name' | translate}}</label>
                    <input type="text" class="form-control" id="executiveName" placeholder="{{'areaform.label.executive.name' | translate}}" ng-model="vm.searchScheduleNumber" required>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="vm.search()">{{'button.search' | translate}}</button>
            </form>

            <div class="tableDiv mt10 mb10 p0">
                <table id="example" class="table table-fixedheader table-lg mt10 table-bordered scrollbar" ng-if="vm.data.length>0">
                    <thead>
                        <tr>
                            <th>{{'areaform.label.area.name' | translate}}</th>
                            <th>{{'areaform.label.executive.name' | translate}} </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schemes in vm.data" ng-if="vm.data.length>0" ng-click="vm.setSelected(schemes.name, schemes.no, schemes.type, $index)" ng-class="{selected: schemes.name === vm.selectedName}">
                            <td>{{schemes.name}}</td>
                            <td>{{schemes.no}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-align p0" ng-if="vm.data.length>0">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 fmt30">
    <!--Footer margin top below 768px-->
</div>
<footer-component></footer-component>
