<header-menu-bar></header-menu-bar>
<div class="container">

    <div class='row'>

        <div class='col-xs-12 col-sm-4'>
            <form>
                <div class='text-left pt7'>
                    <h2>{{'bankinformationform.header.name' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="bankname">{{'bankinformationform.label.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="bankname" id="bankname" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="bankaddress">{{'bankinformationform.label.address' | translate}}:</label>
                    <input type="text" class="form-control form-control-lg" name="bankaddress" id="bankaddress" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="vm.reset()">Reset</button>
                    <button type="submit" class="btn btn-primary" ng-click="vm.save()"> Save </button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>
            </form>
        </div>
        <div class='col-xs-12 col-sm-8'>
            <form class="form-inline mt25">
                <div class="form-group mx-sm-3">
                    <label for="Bank Name" class="sr-only mt10">{{'bankinformationform.label.name' | translate}}</label>
                    <input type="text" class="form-control" id="Bank Name" placeholder="{{'bankinformationform.label.name' | translate}}" ng-model="vm.searchScheduleName" required>
                </div>
                <div class="form-group mx-sm-3">
                    <label for="Bank Address" class="sr-only mt10">{{'bankinformationform.label.address' | translate}}</label>
                    <input type="text" class="form-control" id="Bank Address" placeholder="{{'bankinformationform.label.address' | translate}}" ng-model="vm.searchScheduleNumber" required>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="vm.search()">{{'button.search' | translate}}</button>
            </form>

            <table id="example" class="table table-fixedheader table-lg mt10 table-bordered scrollbar" ng-if="vm.data.length>0">
                <thead>

                    <tr>
                        <th>{{'bankinformationform.label.name' | translate}}</th>
                        <th>{{'bankinformationform.label.address' | translate}} </th>
                        <!--<th>Schedule Type</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="schemes in vm.data" ng-click="vm.setSelected(schemes.name, schemes.no, schemes.type, $index)" ng-class="{selected: schemes.name === vm.selectedName}">
                        <td>{{schemes.name}}</td>
                        <td>{{schemes.no}}</td>
                        <!--<td>{{schemes.type}}</td>-->
                    </tr>
                </tbody>
            </table>
            <div class="btn-align p0" ng-if="vm.data.length>0">
                <div class="form-group formRow searchBtn">
                    <button type="submit" class="btn btn-primary searchEdit" ng-click="vm.edit()">Edit</button>
                    <button type="submit" class="btn btn-primary" ng-click="vm.delete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 fmt30">
    <!--Footer margin top below 768px-->
</div>
<footer-component></footer-component>
