<header-component></header-component>
<header-menu-bar></header-menu-bar>
<section class="section">
<div class="section-inner">
<h2>Business Executives Information</h2>
  <form class="section-inner-wrp">
    <h5>Executives Name:</h5>
    <input class="form-control formWidthClass" type="text" name="Name" value="">
    <h5 class="form-padding">Address:</h5>
    <input class="form-control formWidthClass formHeightClass" type="text" name="Name" value="">
    <h5 class="form-padding">Town:</h5>
    <input class="form-control formWidthClass" type="text" name="town" value="">
    <h5 class="form-padding">Mobile:</h5>
    <input class="form-control formWidthClass" type="tel" name="tel" value="">
    <br><br>
    <button class="btn btn-primary"> Save </button>
  </form>
</div>
</section>
<footer-component></footer-component>
