<div class="container-fluid">
    <div class='row py-y'>
        <div class='col-xs-12 col-sm-5'>
            <form name="form">
                <div class='text-left pt7'>
                    <h2>{{'businessexecutivesform.header.name' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="Name">{{'businessexecutivesform.label.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="Name" id="Name" ng-model="vm.busExeName" ng-readonly="vm.editScreen" ng-change="vm.autoCapitalize(vm.busExeName)" uppercase required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="address">{{'businessexecutivesform.label.address' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="address" id="address" ng-model="vm.busExeAddress" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="Town">{{'businessexecutivesform.label.town' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="Town" id="Town" ng-model="vm.busExeTown" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="mobile">{{'businessexecutivesform.label.mobile' | translate}}:*</label>
                    <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="10" class="form-control form-control-lg" name="mobile" id="mobile" ng-model="vm.busExeMobile" required>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()" ng-disabled="form.$invalid">{{'button.save' | translate}}
                </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.save()" ng-disabled="form.$invalid">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>
            </form>
        </div>

        <div class='col-xs-12 col-sm-7'>
            <form class="form-inline text-center mt25">
                <label class="col-form-label" for="ScheduleType">{{'common.label.search' | translate}}:</label>
                <div class="form-group mx-sm-3">
                    <label for="name" class="sr-only mt10">{{'businessexecutivesform.label.name' | translate}}</label>
                    <input type="text" class="form-control" id="name" placeholder="{{'businessexecutivesform.label.name' | translate}}" ng-model="vm.searchBusExeName.name" required>
                </div>
            </form>
            <common-grid-component filter-options="vm.searchBusExeName.name" grid-data="vm.data" grid-call-back="vm.onSelectRow(value, index)" row-number="vm.selectedRow" hidden-column-keys="vm.hiddenColArr" no-of-view-columns="vm.noOfViewColumns"></common-grid-component>

            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.confirm()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>
</div>
