<div class="table-container mt10 mb10 p0">
    <div></div>
    <table id="commonGrid" class="table table-fixedheader table-lg table-bordered scrollbar">
        <thead>
            <tr>
                <th ng-repeat="header in vm.headersList">
                    <div>{{header.name | translate}}</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(parentIndex, rowData) in vm.gridData | filter:vm.filterOptions:vm.startsWith" ng-class="{'selected':parentIndex == vm.rowNumber}">
                <td ng-repeat="(key, value) in rowData" ng-click="vm.gridCallBack({value:rowData, index: parentIndex})">{{value}}</td>
            </tr>
        </tbody>
    </table>
</div>
