<header-menu-bar></header-menu-bar>

<div class="container-fluid">    <div class='row py-y'>
        <div class='col-xs-12 col-sm-4'>
            <form>
                <div class='col-sm-12 text-left pt7'>
                    <h2>{{'companyform.header.name' | translate}} </h2>
                </div>
                <div class="form-group  col-sm-12">
                    <label class="col-form-label" for=" companyCode">{{'companyform.label.companyCode' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="companyCode" id="companyCode" required>
                </div>

                <div class="form-group  col-sm-12">
                    <label class="col-form-label" for="companyName">{{'companyform.label.companyName' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="companyName" id="companyName" required>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="col-form-label" for="companyGroup">{{'companyform.label.companyGroup' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="companyGroup" id="companyGroup" required>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="col-form-label" for="companyType">{{'companyform.label.companyType' | translate}}:*</label>
                    <select class="form-control form-control-lg" id="companyType">
                         <option value="0">Select</option>
                         <option value="1">Ethical</option>
                         <option value="2">Generics</option>
                         <option value="3">Sugical</option>
                        <option value="4">General</option>
                        <option value="5">Others</option>
                    </select>
                </div>
                <div class="form-group  col-sm-12">
                    <label class="col-form-label" for="companyStatus">{{'companyform.label.companyStatus' | translate}}:*</label>
                    <select class="form-control form-control-lg" id="companyStatus">
                         <option value="0">Select</option>
                         <option value="1">Target</option>
                         <option value="2">Non Target</option>
                       
                    </select>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="col-form-label" for="invGenType">{{'companyform.label.invGenType' | translate}}:*</label>
                    <select class="form-control form-control-lg" id="invGenType">
                         <option value="0">Select</option>
                         <option value="1">Regular</optn>
                         <option value="2">Company</option>
                       
                    </select>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="col-form-label" for="invPrfx">{{'companyform.label.invPrefix' | translate}}:</label>
                    <input type="text" class="form-control form-control-lg" name="invPrfx" id="invPrfx" required>
                </div>
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()">{{'button.save' | translate}}
                    </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.save()">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>
            </form>
        </div>

        <div class='col-xs-12 col-sm-1'></div>

        <div class='col-xs-12 col-sm-6 pos-l'>

            <form class="form-inline text-left mt25">
                <!-- <div class="form-group col-sm-12 text-left mx-sm-3">
                </div> -->
                <div class="form-group mx-sm-3">
                        <label for="SearchBy" class="mt10"> {{'common.label.searchby' | translate}}:</label>
                    <label for="companyNameSrch" class="sr-only mt10">{{'companyform.label.companyName' | translate}}</label>
                    <input type="text" class="form-control input-search-sm" name="companyNameSrch" placeholder="Company Name" id="companyNameSrch">
                </div>
                <div class="form-group">
                    <label class="sr-only mt10" for="companyGroup">{{'companyform.label.companyGroup' | translate}}:*</label>
                    <input type="text" class="form-control input-search-sm" name="companyGroup" placeholder="Company Group" id="companyGroup" required>
                </div>
                <div class="form-group">
                    <label class="sr-only mt10" for="companyType">{{'companyform.label.companyType' | translate}}:*</label>
                    <select class="form-control input-search-sm" id="companyType">
                         <option value="">{{'companyform.label.companyType' | translate}}</option>
                         <option value="1">Ethical</option>
                         <option value="2">Generics</option>
                         <option value="3">Sugical</option>
                        <option value="4">General</option>
                        <option value="5">Others</option>
                    </select>
                </div>
            </form>
            <div class="tableDiv mt10 mb10 p0">
                <table id="companiesTable" class="table table-fixedheader table-lg table-bordered scrollbar" ng-init="vm.search()">
                    <thead>
                        <tr>
                            <th>{{'companyform.label.companyName' | translate}}</th>
                            <th>{{'companyform.label.companyStatus' | translate}}</th>
                            <th>{{'companyform.label.companyType' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schemes in vm.data |filter:vm.schedule:vm.startsWith" ng-click="vm.setSelected(schemes.name, schemes.no, schemes.type, $index)" ng-class="{selected: schemes.name === vm.selectedName}">
                            <td>{{schemes.name}}</td>
                            <td>{{schemes.no}}</td>
                            <td>{{schemes.type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>

</div>
<div class="col-xs-12 fmt30">
    <!--Footer margin top below 768px-->
</div>
<footer-component></footer-component>
