<div class="container-fluid">
    <div class='row py-y'>
        <div class='col-xs-12 col-sm-5'>
            <form name="form">
                <div class='text-left pt7'>
                    <h2>{{'companygroupform.header.name' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="companyGroup">{{'companygroupform.label.companyGroup ' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="companyGroup" id="companyGroup" ng-model="vm.companyGrp" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()" ng-disabled="form.$invalid">{{'button.reset' | translate}}</button>
                    <button type="submit" class="btn btn-primary  mb10" ng-click="vm.create()" ng-disabled="form.$invalid">{{'button.save' | translate}}
                    </button>
                </div>
            </form>
        </div>

        <div class='col-xs-12 col-sm-7'>

            <form class="form-inline text-left mt25">

                <div class="form-group mx-sm-3">
                    <label class="col-form-label" for="ScheduleType">{{'common.label.search' | translate}}:</label>
                    <label for="companyGroup" class="sr-only mt10">{{'companygroupform.label.companyGroup' | translate}}</label>
                    <input type="text" class="form-control" id="companyGroupSrch" placeholder="Company Group" ng-model="vm.searchByCompanyGrp" required>
                </div>

            </form>
            <common-grid-component filter-options="vm.searchByCompanyGrp" grid-data="vm.data" grid-call-back="vm.onSelectRow(value, index)" row-number="vm.selectedRow" hidden-column-keys="vm.hiddenColArr" no-of-view-columns="vm.noOfViewColumns"></common-grid-component>

            <div class="btn-align p0" ng-if="vm.selected">
               <!--<button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>-->
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.confirm()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>

</div>
