<div class="container-fluid">

    <div class='row py-y'>

        <div class='col-xs-12 col-sm-5'>

            <form id="searchAccountsForm" class="form-group text-left">
                <div class='text-left pt7'>
                    <h2>{{'customerwiseDiscount.header.name' | translate}} </h2>
                </div>
                <div class="form-group mx-sm-3">
                    <label for="customer" class="col-form-label mt10">{{'customerwiseDiscount.lable.customer' | translate}}</label>
                    <input type="text" class="form-control" id="customer" placeholder="{{'customerwiseDiscount.lable.customer' | translate}}" required>
                </div>
                <div class="form-group">
                    <label for="selectOption" class="col-form-label mt10">{{'customerwiseDiscount.lable.selectOption' | translate}}</label>
                    <select class="form-control" id="selectOption">
                    <option>{{'customerwiseDiscount.lable.all'| translate}}</option>
                    <option>{{'customerwiseDiscount.lable.select'| translate}}</option>
                </select>
                </div>
                <div class="form-group mx-sm-3">
                    <label for="discount" class="col-form-label mt10">{{'customerwiseDiscount.lable.discount' | translate}}</label>
                    <input type="text" class="form-control" id="discount" placeholder="{{'customerwiseDiscount.lable.discount' | translate}}" required>
                </div>
            </form>
        </div>
        <div class='col-xs-12 col-sm-7'>
            <div class="table-container mt10 mb10 p0">
                <div></div>
                <table id="commonGrid" class="table table-fixedheader table-lg table-bordered scrollbar">
                    <thead>
                        <tr>
                            <th>
                                <div>{{'customerwiseDiscount.lable.companyDesc' | translate}}</div>
                            </th>
                            <th>
                                <div>{{'customerwiseDiscount.lable.disc' | translate}}</div>
                            </th>
                            <th>
                                <div>{{'customerwiseDiscount.lable.cdisc' | translate}}</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr ng-repeat="schemes in vm.data |filter:vm.account:vm.startsWith" ng-click="vm.setSelected(schemes.name, schemes.no, schemes.type, $index)" ng-class="{selected: schemes.name === vm.selectedName}">-->
                        <tr>
                            <td></td>
                            <td>
                                <div class="form-group mx-sm-3">
                                    <label for="opening" class="sr-only mt10">{{'customerwiseDiscount.lable.disc' | translate}}</label>
                                    <input type="text" class="form-control" id="disc" required>
                                </div>
                            </td>
                            <td>
                                <div class="form-group mx-sm-3">
                                    <label for="type" class="sr-only mt10">{{'customerwiseDiscount.lable.cdisc' | translate}}</label>
                                    <input type="text" class="form-control" id="cdisc" required>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>

</div>
