<div class="container-fluid">
    <div class='row py-y'>
        <div class='col-xs-12 col-sm-5'>
            <form>
                <div class='text-left pt7'>
                    <h2>{{'districtsform.header.name' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="DistrictsName">{{'districtsform.label.dist.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="DistrictsName" id="districtName" ng-model="vm.districtName" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="StatName">{{'districtsform.label.state.name' | translate}}:</label>
                    <select ng-model="vm.stateName" class="form-control form-control-lg" id="StatName" maxlength="40">{{vm.stateobj}}----
                         <option value="0">Select</option>
						 <option ng-repeat="states in vm.stateobj.states" value="{{states.name}}" 
							ng-selected="states.name === vm.stateName" >{{states.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()">{{'button.save' | translate}}
                </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.save()">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>
            </form>
        </div>

        <div class='col-xs-12 col-sm-7'>
            <form class="form-inline mt25">
                <label class="col-form-label" for="ScheduleType">{{'common.label.searchby' | translate}}:</label>
                <div class="form-group mx-sm-3">
                    <label for="district-Name" class="sr-only mt10">{{'districtsform.label.dist.name' | translate}}</label>
                    <input type="text" class="form-control" id="district-Name" placeholder="{{'districtsform.label.dist.name' | translate}}" ng-model="vm.searchByDistrictName" required>
                </div>
                <div class="form-group mx-sm-3">
                    <label for="stateName" class="sr-only mt10">{{'districtsform.label.state.name' | translate}}</label>
                    <input type="text" class="form-control" id="stateName" placeholder="{{'districtsform.label.state.name' | translate}}" ng-model="vm.searchByStateName" required>
                </div>
            </form>
		  <common-grid-component filter-options="{districtName: vm.searchByDistrictName, state: vm.searchByStateName}" grid-data="vm.data" grid-call-back="vm.onSelectRow(value, index)" row-number="vm.selectedRow" hidden-column-keys="vm.hiddenColArr" no-of-view-columns="vm.noOfViewColumns"></common-grid-component>

            <div class="btn-align p0" ng-if="selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>
</div>
