<header-menu-bar></header-menu-bar>
<div class="container">
    <div class='row'>
        <div class='col-xs-12 col-sm-4'>
            <form>
                <div class='text-left pt7'>
                    <h2>{{'districtsform.header.name' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="DistrictsName">{{'districtsform.label.dist.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="DistrictsName" id="districtName" ng-model="vm.districtName" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="StatName">{{'districtsform.label.state.name' | translate}}:</label>
                    <select ng-model="vm.stateName" class="form-control form-control-lg" id="StatName" maxlength="40">{{vm.stateobj}}----
                         <option value="0">Select</option>
						 <option ng-repeat="states in vm.stateobj.states" value="{{states.name}}" 
							ng-selected="states.name === vm.stateName" >{{states.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()">{{'button.save' | translate}}
                </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.save()">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>
            </form>
        </div>

        <div class='col-xs-12 col-sm-1'></div>
		
        <div class='col-xs-12 col-sm-6'>
            <form class="form-inline mt25">
			<label class="col-form-label" for="ScheduleType">{{'common.label.searchby' | translate}}:</label>
                <div class="form-group mx-sm-3">
                    <label for="district-Name" class="sr-only mt10">{{'districtsform.label.dist.name' | translate}}</label>
                    <input type="text" class="form-control" id="district-Name" placeholder="{{'districtsform.label.dist.name' | translate}}" ng-model="vm.searchScheduleName" required>
                </div>
                <div class="form-group mx-sm-3">
                    <label for="stateName" class="sr-only mt10">{{'districtsform.label.state.name' | translate}}</label>
                    <input type="text" class="form-control" id="stateName" placeholder="{{'districtsform.label.state.name' | translate}}" ng-model="vm.searchScheduleNumber" required>
                </div>
            </form>
            <div class="tableDiv mt10 mb10 p0">
                <table id="distInfoTable" class="table table-fixedheader table-lg table-bordered scrollbar doubleHeadTable" ng-init="vm.search()">
                    <thead>
                        <tr>
                            <th>{{'districtsform.label.dist.name' | translate}}</th>
                            <th>{{'districtsform.label.state.name' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schemes in vm.data" ng-click="vm.setSelected(schemes.name, schemes.no, schemes.type, $index)" ng-class="{selected: schemes.name === vm.selectedName}">
                            <td>{{schemes.name}}</td>
                            <td>{{schemes.no}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-align p0" ng-if="selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 fmt30">
    <!--Footer margin top below 768px-->
</div>
<footer-component></footer-component>
