<header-component></header-component>
<header-menu-bar></header-menu-bar>
<section class="section">
<div class="section-inner">
<h2>Districts Information</h2>
<div class="section-inner-wrp">
 
    <h5>District name:</h5>
    <input class="form-control formWidthClass" type="text" name="DistrictsName" id="districtName" ng-model="vm.districtName">
    <h5 class="form-padding">State Name:<h5>
    <select ng-model="vm.stateName" class="form-control formWidthClass">{{vm.stateobj}}----
	<option value="0">Select</option>
			<option ng-repeat="states in vm.stateobj.states" value="{{states.name}}" ng-selected="states.name === vm.stateName" >{{states.name}}</option>
    </select>
    <br><br>
	<button type="submit" class="btn btn-primary" ng-click="vm.reset()">Reset</button>
    <button type="submit" class="btn btn-primary" ng-click="vm.save()"> Save </button>
 	<label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
</div>
</div>
<div></div>
</section>
<footer-component></footer-component>
