<!-- <div class="fixed-footer row">
    <div class="contact-details col-md-6">
      <i class="fa fa-at"></i>
      <span class="mailingAddress"> © 2017 Aditya Enterprises</span>
      <span class="mailingAddress"> support@synectiks.com</span>
      <i class="fa fa-phone"></i>
    </div>

    <div class="col-md-4 contactUsIcons">
      <a href="/contact" class="linkColor">Contact Us 6096080429</a>
      <span class="spanPadding">|</span>
      <span class="spanPadding">FAQs</span>
      <i class="fa fa-facebook spanPadding"></i>
      <i class="fa fa-twitter spanPadding"></i>
      <i class="fa fa-google-plus spanPadding"></i>
      <i class="fa fa-linkedin spanPadding"></i>
      <i class="fa fa-envelope spanPadding"></i>
    </div>
  </div>-->

<footer class="footer">
    <div class="container">
        <div class="contact-details text-center">
            <i class="fa fa-at"></i>
            <span class=> {{'footer.text'| translate}}</span>
            <i class="fa fa-phone"></i>
        </div>

    </div>
</footer>
