<div class="eskay-nav-main">

    <div class="dropdown">
          <button class="dropbtn btn btn-style btn-default"
          type="button"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true">
              Masters

          </button>
          <ul class="dropdown-content dropdown-menu list-scroll-style" aria-labelledby="dropdownMenu1">
            <li><a href="/schedule">Schedules</a></li>
            <li><a href="#">Sub-Schedules</a></li>
            <li><a href="#">States</a></li>
            <li><a href="/districtsInfo">Districts</a></li>
            <li><a href="#">Sales Man</a></li>
            <li><a href="/areasInfo">Areas</a></li>
            <li><a href="#">Accounts</a></li>
            <li><a href="#">Manufacturers</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">Products Grouping</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Stocks</a></li>
            <li><a href="#">Discount</a></li>
            <li><a href="#">Cash Discounts</a></li>
            <li><a href="#">Account Openings</a></li>
            <li><a href="#">Schemes</a></li>
            <li><a href="/businessExeInfo">Area Managers</a></li>
            <li><a href="#">Companywise Representatives</a></li>
            <li><a href="#">Reps. Yearly Target Entry</a></li>
            <li><a href="#">Rep./Area/ Customers Entry</a></li>
            <li><a href="#">Representatives (P.O.B.)</a></li>
            <li><a href="/bankInfo">Bank Information</a></li>
            <li><a href="/statesInfo">States</a></li>
          </ul>
      </div>
      <div class="dropdown">
              <button class="dropbtn btn btn-style btn-default "
              type="button"
              id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true">
                  Purchases

              </button>
              <ul class="dropdown-content dropdown-menu list-scroll-style" aria-labelledby="dropdownMenu1">
                <li><a href="#">link1</a></li>
                <li><a href="#">link2</a></li>
                <li><a href="#">link3</a></li>
              </ul>
          </div>
          <div class="dropdown">
                  <button class="dropbtn btn btn-style btn-default "
                  type="button"
                  id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true">
                      Sales

                  </button>
                  <ul class="dropdown-content dropdown-menu list-scroll-style" aria-labelledby="dropdownMenu1">
                    <li><a href="/schedule">link1</a></li>
                    <li><a href="#">link2</a></li>
                    <li><a href="#">link3</a></li>
                  </ul>
              </div>
              <div class="dropdown">
                      <button class="dropbtn btn btn-style btn-default "
                      type="button"
                      id="dropdownMenu1"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="true">
                          Inventory Reports

                      </button>
                      <ul class="dropdown-content dropdown-menu list-scroll-style" aria-labelledby="dropdownMenu1">
                        <li><a href="/schedule">link1</a></li>
                        <li><a href="#">link2</a></li>
                        <li><a href="#">link3</a></li>
                      </ul>
                  </div>
                  <div class="dropdown">
                          <button class="dropbtn btn btn-style btn-default "
                          type="button"
                          id="dropdownMenu1"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="true">
                              Finance

                          </button>
                          <ul class="dropdown-content dropdown-menu list-scroll-style" aria-labelledby="dropdownMenu1">
                            <li><a href="/schedule">link1</a></li>
                            <li><a href="#">link2</a></li>
                            <li><a href="#">link3</a></li>
                          </ul>
                      </div>
                      <div class="dropdown">
                              <button class="dropbtn btn btn-style btn-default "
                              type="button"
                              id="dropdownMenu1"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="true">
                                  Finance Reports

                              </button>
                              <ul class="dropdown-content dropdown-menu list-scroll-style" aria-labelledby="dropdownMenu1">
                                <li><a href="/schedule">link1</a></li>
                                <li><a href="#">link2</a></li>
                                <li><a href="#">link3</a></li>
                              </ul>
                          </div>
                          <div class="dropdown">
                                  <button class="dropbtn btn btn-style btn-default "
                                  type="button"
                                  id="dropdownMenu1"
                                  data-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="true">
                                      GST Reports

                                  </button>
                                  <ul class="dropdown-content dropdown-menu list-scroll-style" aria-labelledby="dropdownMenu1">
                                    <li><a href="/schedule">link1</a></li>
                                    <li><a href="#">link2</a></li>
                                    <li><a href="#">link3</a></li>
                                  </ul>
                              </div>
                              <div class="dropdown">
                                      <button class="dropbtn btn btn-style btn-default "
                                      type="button"
                                      id="dropdownMenu1"
                                      data-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="true">
                                          Miscellaneous

                                      </button>
                                      <ul class="dropdown-content dropdown-menu list-scroll-style" aria-labelledby="dropdownMenu1">
                                        <li><a href="/schedule">link1</a></li>
                                        <li><a href="#">link2</a></li>
                                        <li><a href="#">link3</a></li>
                                      </ul>
                                  </div>
      </div>