 <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" href="#"><strong>ESKAY SOFT</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Masters<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/schedule">Schedules</a></li>
                            <li><a href="/districtsInfo">Districts</a></li>
                            <li><a href="/areasInfo">Areas</a></li>
                            <li><a href="/businessExeInfo">Business Executives</a></li>
                            <li><a href="/bankInfo">Bank Information</a></li>
                            <li><a href="/statesInfo">States</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Purchases<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="#">link1</a></li>
                            <li><a href="#">link2</a></li>
                            <li><a href="#">link3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="#">link1</a></li>
                            <li><a href="#">link2</a></li>
                            <li><a href="#">link3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory Reports<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="#">link1</a></li>
                            <li><a href="#">link2</a></li>
                            <li><a href="#">link3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Finance<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="#">link1</a></li>
                            <li><a href="#">link2</a></li>
                            <li><a href="#">link3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Finance Reports<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="#">link1</a></li>
                            <li><a href="#">link2</a></li>
                            <li><a href="#">link3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GST Reports<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="#">link1</a></li>
                            <li><a href="#">link2</a></li>
                            <li><a href="#">link3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Miscellaneous<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="#">link1</a></li>
                            <li><a href="#">link2</a></li>
                            <li><a href="#">link3</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
                </ul>
            </div>
        </div>
    </nav>