<div>
<h1>Synectiks</h1>
</div>
<div>
<h2>Welcome to Synectiks</h2>
</div>
<div><strong>Select your Application to load</strong>
</div>
<div class="row">
  <div class="col-md-3"><a class="modules" href="/registrationForm">Click here for Registering for a New Account</a></div>
  <div class="col-md-3"><a class="modules" href="#">Click here to Login</a></div>
  <div class="col-md-3"><a class="modules" href="#">Click here to know About Us</a></div>
  <div class="col-md-3"><a class="modules" href="#">Click here for our Address</a></div>
</div>
