<div class="container-fluid">
    <div class='row py-y pyl-10 mt25'>
        <div class='col-xs-12 col-sm-5'>
            <form>
                <div class='col-sm-12 text-left header'>
                    <h2>{{'productform.header.name' | translate}} </h2>
                </div>

                <div class="form-group col-sm-6">
                    <label class="col-form-label" for="name">{{'productform.label.name' | translate}}:*</label>
                    <input type="text" maxlength="30" class="form-control form-control-lg" name="Name" id="name" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="strip">{{'productform.label.strip' | translate}}:*</label>
                    <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);" min="0" maxlength="5" class="form-control form-control-lg" name="strip" id="strip" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="packing">{{'productform.label.packing' | translate}}:*</label>
                    <input type="text" maxlength="8" class="form-control form-control-lg" name="Name" id="packing" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label" for="box">{{'productform.label.box' | translate}}:*</label>
                    <input type="number" oninput="javascript: if (this.value.length > this.maxLength) 
                 this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="02" class="form-control form-control-lg" name="box" id="box" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="group">{{'productform.label.group' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="group" id="group" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="case">{{'productform.label.case' | translate}}:*</label>
                    <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="2" class="form-control form-control-lg" name="case" id="case" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="category">{{'productform.label.category' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="category" id="category" ng-model="vm.scheduleNo" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="contents">{{'productform.label.contents' | translate}}:*</label>
                    <input type="text" maxlength="80" class="form-control form-control-lg" name="contents" id="contents" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label" for="netrate">{{'productform.label.netrate' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="netrate" id="netrate" ng-model="vm.scheduleNo" required>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="col-form-label" for="rateItem">{{'productform.label.rateItem' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="rateItem" id="rateItem" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label" for="scheme">{{'productform.label.scheme' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="scheme" id="scheme" required>
                </div>
                <div class="form-group  col-sm-3">
                    <label class="col-form-label" for="free">{{'productform.label.free' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="free" id="free" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="tax">{{'productform.label.tax' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="tax" id="tax" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label" for="code">{{'productform.label.code' | translate}}:*</label>
                    <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="8" class="form-control form-control-lg" name="code" id="code" required>
                </div>

                <div class="form-group col-sm-12">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()">{{'button.save' | translate}}
                    </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.save()">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>
            </form>
        </div>

        <!--<div class='col-xs-12 col-sm-1'></div>-->

        <div class='col-xs-12 col-sm-7'>

            <form class="form-inline text-left mt25">
                <div>
                    <label for="SearchBy" class="mt10"> {{'common.label.searchby' | translate}}:</label>

                    <div class="form-group mx-sm-3">
                        <label class="sr-only mt10" for="groupsrch">{{'productform.label.group' | translate}}:*</label>
                        <input type="text" class="form-control input-search-sm" name="group" placeholder="Group" id="group" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only mt10" for="categorySrch">{{'productform.label.category' | translate}}:*</label>
                        <input type="text" class="form-control form-control-lg input-search-sm" name="categorySrch" placeholder="Category" id="categorySrch" required>
                    </div>
                    <div class="form-group ">
                        <label class="sr-only mt10" for="nameSrch">{{'productform.label.name' | translate}}:*</label>
                        <input type="text" class="form-control input-search-sm" name="nameSrch" placeholder="Name" id="nameSrch">
                    </div>
                    <div class="form-group ">
                        <label for="companyNameSrch" class="sr-only mt10">{{'companyform.label.companyName' | translate}}:*</label>
                        <input type="text" class="form-control input-search-sm" name="companyNameSrch" placeholder="Company Name" id="companyNameSrch">

                    </div>
                </div>
            </form>
            <common-grid-component filter-options="vm.schedule" headers-list="vm.productTableHeaders" grid-data="vm.data" grid-call-back="vm.onSelectRow(value, index)" row-number="vm.selectedRow"></common-grid-component>
            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>

</div>
