<header-menu-bar></header-menu-bar>

<div class="container">
    <div class='row'>
        <div class='col-xs-12 col-sm-4'>
            <form>
                <div class='text-left pt7'>
                    <h2>{{'productgroupform.header.name' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="productGroupName">{{'productgroupform.label.productGroup' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="groupName" id="productGroupName" readonly>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary  mb10" ng-click="vm.create()">{{'button.save' | translate}}
                    </button>
                </div>
            </form>
        </div>
        <div class='col-xs-12 col-sm-1'></div>

        <div class='col-xs-12 col-sm-6'>

            <form class="form-inline text-left mt25">
<label class="col-form-label" for="ScheduleType">{{'common.label.search' | translate}}:</label>
                <div class="form-group mx-sm-3">
                    <label for="productGroupName" class="sr-only mt10">{{'productgroupform.label.productGroup' | translate}}</label>
                    <input type="text" class="form-control" id="productGroupNameSrch" placeholder=" Product Group Name" ng-model="vm.schedule.name" required>
                </div>

            </form>
            <div class="tableDiv mt10 mb10 p0">
                <table id="productGroupTable" class="table table-fixedheader table-lg table-bordered scrollbar singleHeadTable" ng-init="vm.search()">
                    <thead>
                        <tr>
                            <th>{{'productgroupform.label.productGroup' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schemes in vm.data |filter:vm.schedule:vm.startsWith" ng-click="vm.setSelected(schemes.name, schemes.no, schemes.type, $index)" ng-class="{selected: schemes.name === vm.selectedName}">
                            <td>{{schemes.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>

</div>
<div class="col-xs-12 fmt30">
    <!--Footer margin top below 768px-->
</div>
<footer-component></footer-component>
