<header-menu-bar></header-menu-bar>

<div class="container">
    <div class='row'>
        <div class='col-xs-12 col-sm-5'>
            <form>
                <div class='text-left pt7'>
                    <h2>{{'productform.header.name' | translate}} </h2>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label" for="code">{{'productform.label.code' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="code" id="code" required>
                </div>

                <div class="form-group col-sm-6">
                    <label class="col-form-label" for="name">{{'productform.label.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="Name" id="name" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label" for="packing">{{'productform.label.packing' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="Name" id="packing" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label" for="box">{{'productform.label.box' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="box" id="box" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="group">{{'productform.label.group' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="group" id="group" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="case">{{'productform.label.case' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="case" id="case" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="category">{{'productform.label.category' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="category" id="category" ng-model="vm.scheduleNo" required>
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label" for="contents">{{'productform.label.contents' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="contents" id="contents" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label" for="netrate">{{'productform.label.netrate' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="netrate" id="netrate" ng-model="vm.scheduleNo" required>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="col-form-label" for="rateItem">{{'productform.label.rateItem' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="rateItem" id="rateItem" required>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-form-label" for="scheme">{{'productform.label.scheme' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="scheme" id="scheme" required>
                </div>
                <div class="form-group  col-sm-4">
                    <label class="col-form-label" for="free">{{'productform.label.free' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="free" id="free" required>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-form-label" for="tax">{{'productform.label.tax' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="tax" id="tax" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()">{{'button.save' | translate}}
                    </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.save()">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>
            </form>
        </div>

        <!--<div class='col-xs-12 col-sm-1'></div>-->

        <div class='col-xs-12 col-sm-7'>

            <form class="form-inline text-left mt25">
                <div>
                    <div class="form-group col-sm-12 text-left mx-sm-3">
                        <label for="SearchBy" class="mt10"> {{'common.label.searchby' | translate}}:</label>
                    </div>
                    <div class="form-group mx-sm-3">
                        <label class="sr-only mt10" for="groupsrch">{{'productform.label.group' | translate}}:*</label>
                        <input type="text" class="form-control form-control-lg" name="group" placeholder="Group" id="group" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only mt10" for="categorySrch">{{'productform.label.category' | translate}}:*</label>
                        <input type="text" class="form-control form-control-lg" name="categorySrch" placeholder="Category" id="categorySrch" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only mt10" for="nameSrch">{{'productform.label.name' | translate}}:*</label>
                        <input type="text" class="form-control form-control-lg" name="nameSrch" placeholder="Name" id="nameSrch">
                    </div>
                </div>
            </form>
            <div class="tableDiv mt10 mb10 p0">
                <table id="productTable" class="table table-fixedheader table-lg table-bordered scrollbar" ng-init="vm.search()">
                    <thead>
                        <tr>
                            <th>{{'productform.label.group' | translate}}</th>
                            <th>{{'productform.label.category' | translate}}</th>
                            <th>{{'productform.label.name' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schemes in vm.data |filter:vm.schedule:vm.startsWith" ng-click="vm.setSelected(schemes.name, schemes.no, schemes.type, $index)" ng-class="{selected: schemes.name === vm.selectedName}">
                            <td>{{schemes.name}}</td>
                            <td>{{schemes.no}}</td>
                            <td>{{schemes.type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>

</div>
<div class="col-xs-12 fmt30">
    <!--Footer margin top below 768px-->
</div>
<footer-component></footer-component>
