<div class="container-fluid">    <div class='row py-y'>
        <div class='col-xs-12 col-sm-4'>
            <form>
                <div class='text-left pt7'>
                    <h2>{{'productcategoryform.header.name' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="productCategory">{{'productcategoryform.label.productCategory' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="productCategory" id="productCategory" readonly>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary  mb10" ng-click="vm.create()">{{'button.save' | translate}}
                    </button>
                </div>
            </form>
        </div>
        <div class='col-xs-12 col-sm-1'></div>

        <div class='col-xs-12 col-sm-6 pos-l'>

            <form class="form-inline text-left mt25">
<label class="col-form-label" for="ScheduleType">{{'common.label.search' | translate}}:</label>
                <div class="form-group mx-sm-3">
                    <label for="productCategory" class="sr-only mt10">{{'productcategoryform.label.productCategory' | translate}}</label>
                    <input type="text" class="form-control" id="productCategorySrch" placeholder="product Category" ng-model="vm.schedule.name" required>
                </div>

            </form>
            <common-grid-component filter-options="vm.schedule" headers-list="vm.productCategoryTableHeaders" grid-data="vm.data" grid-call-back="vm.onSelectRow(value, index)" row-number="vm.selectedRow"></common-grid-component>
            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>

</div>
