<div class="container-fluid">
    <div class='py-x'>
        <div class='text-left mt-25 pyl-15'>
            <h2>{{'purchaseform.header.name' | translate}} </h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form class="form">
                    <div class="form-group fgroup col-sm-6">
                        <label class="col-form-label" for="purchaseNumber">{{'purchaseform.label.purchaseNumber'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="3" class="form-control mb10" id="purchaseNumber">
                    </div>
                    <div class="form-group fgroup col-sm-6">
                        <label class="col-form-label" for="invoiceNumber">{{'purchaseform.label.invoiceNumber'|translate}}:</label>
                        <input type="text" class="form-control mb10 ml5" id="invoiceNumber">
                    </div>
                    <div class="form-group fgroup col-sm-6">
                        <label class="col-form-label" for="supplier">{{'purchaseform.label.supplier'|translate}}:</label>
                        <input type="text" class="form-control mb10 ml60" id="supplier">
                    </div>
                    <div class="form-group fgroup col-sm-6">
                        <label class="col-form-label" for="GSTIN">{{'purchaseform.label.gstin'|translate}}:</label>
                        <input type="text" class="form-control mb10 ml60" id="GSTIN">
                    </div>

                    <div class="form-group fgroup col-sm-4">
                        <label class="col-form-label" for="waybillNumber">{{'purchaseform.label.waybillNumber'|translate}}:</label>
                        <input type="number" class="form-control mb10 ml11" id="waybillNumber">
                    </div>

                    <div class="form-group fgroup col-sm-4">
                        <label class="col-form-label" for="transport">{{'purchaseform.label.transport'|translate}}:</label>
                        <input type="text" class="form-control mb10 ml45" id="transport">
                    </div>

                    <div class="form-group fgroup col-sm-4">
                        <label class="col-form-label" for="cs">{{'purchaseform.label.cs'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="2" class="form-control mb10 ml90" id="cs">
                    </div>
                </form>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form class="form">
                    <div class="form-group fgroup col-sm-6">
                        <label class="col-form-label" for="date">{{'purchaseform.label.date'|translate}}:</label>
                        <input type="date" class="form-control mb10 ml15" id="date">
                    </div>

                    <div class="form-group fgroup col-sm-6">
                        <label class="col-form-label" for="invoiceDate">{{'purchaseform.label.invoiceDate'|translate}}:</label>
                        <input type="date" class="form-control mb10 ml18" id="invoiceDate">
                    </div>
                    <div class="form-group fgroup col-sm-6">
                        <label class="col-form-label" for="mode">{{'purchaseform.label.mode'|translate}}:</label>
                        <input type="text" class="form-control mb10 ml11" id="mode">
                    </div>
                    <div class="form-group fgroup col-sm-6">
                        <label class="col-form-label" for="lrNumber">{{'purchaseform.label.lrNumber'|translate}}:</label>
                        <input type="number" class="form-control mb10 ml30" id="lrNumber">
                    </div>

                    <div class="form-group fgroup col-sm-6">
                        <label class="col-form-label" for="lrDate">{{'purchaseform.label.lrDate'|translate}}:</label>
                        <input type="date" class="form-control mb10" id="lrDate">
                    </div>

                    <div class="form-group fgroup col-sm-6">
                        <label class="col-form-label" for="deliveredFrom">{{'purchaseform.label.deliveredFrom'|translate}}:</label>
                        <input type="number" class="form-control mb10" id="deliveredFrom">
                    </div>

                </form>
            </div>
        </div>
        <div class='row plr-30'>
            <div class="table-responsive">
                <div class="ml30 mt10 mb10 p0">
                    <table id="purchaseDetailTable" class="table table-bordered scrollbar">
                        <thead>
                            <tr>
                                <th>{{'purchaseform.label.code' | translate}}</th>
                                <th>{{'purchaseform.label.productName' | translate}}</th>
                                <th>{{'purchaseform.label.batch' | translate}}</th>
                                <th>{{'purchaseform.label.expiry' | translate}}</th>
                                <th>{{'purchaseform.label.quantity' | translate}}</th>
                                <th>{{'purchaseform.label.free' | translate}}</th>
                                <th>{{'purchaseform.label.purRate' | translate}}</th>
                                <th>{{'purchaseform.label.otherCharges' | translate}}</th>
                                <th>{{'purchaseform.label.grsValue' | translate}}</th>
                                <th>{{'purchaseform.label.discount' | translate}}</th>
                                <th>{{'purchaseform.label.ptd' | translate}}</th>
                                <th>{{'purchaseform.label.saleRate' | translate}}</th>
                                <th>{{'purchaseform.label.tax' | translate}}</th>
                                <th>{{'purchaseform.label.hsn' | translate}}</th>
                                <th>{{'purchaseform.label.mrp' | translate}}</th>
                                <th>{{'purchaseform.label.mfgName' | translate}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <label for="code" class="sr-only">{{'purchaseform.label.code' | translate}}</label>
                                        <input class="form-control" id="code" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="productName" class="sr-only">{{'purchaseform.label.productName' | translate}}</label>
                                        <input class="form-control" id="productName" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div><label for="batch" class="sr-only">{{'purchaseform.label.batch' | translate}}</label><input class="form-control" id="batch" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="expiry" class="sr-only">{{'purchaseform.label.expiry' | translate}}</label><input class="form-control" id="expiry" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="quantity" class="sr-only">{{'purchaseform.label.quantity' | translate}}</label><input class="form-control" id="quantity" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="free" class="sr-only">{{'purchaseform.label.free' | translate}}</label><input class="form-control" id="free" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="purRate" class="sr-only">{{'purchaseform.label.purRate' | translate}}</label><input class="form-control" id="purRate" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="otherCharges" class="sr-only">{{'purchaseform.label.otherCharges' | translate}}</label><input class="form-control" id="otherCharges" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="grsValue" class="sr-only">{{'purchaseform.label.grsValue' | translate}}</label><input class="form-control" id="grsValue" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="discount" class="sr-only">{{'purchaseform.label.discount' | translate}}</label><input class="form-control" id="discount" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="ptd" class="sr-only">{{'purchaseform.label.ptd' | translate}}</label><input class="form-control" id="ptd" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="saleRate" class="sr-only">{{'purchaseform.label.saleRate' | translate}}</label><input class="form-control" id="saleRate" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="tax" class="sr-only">{{'purchaseform.label.tax' | translate}}</label><input class="form-control" id="tax" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="hsn" class="sr-only">{{'purchaseform.label.hsn' | translate}}</label><input class="form-control" id="hsn" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="mrp" class="sr-only">{{'purchaseform.label.mrp' | translate}}</label><input class="form-control" id="mrp" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="mfgName" class="sr-only">{{'purchaseform.label.mfgName' | translate}}</label><input class="form-control" id="mfgName" type="text"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class='form'>
                    <div class="form-group col-sm-3">
                        <label class="col-form-label" for="grossValue">{{'purchaseform.label.grossValue'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="3" step="0.01" class="form-control ml35" id="grossValue">
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-form-label" for="discountValue">{{'purchaseform.label.discountValue'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="3" step="0.01" class="form-control" id="discountValue">
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-form-label" for="taxValue">{{'purchaseform.label.taxValue'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="3" step="0.01" class="form-control" id="taxValue">
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-form-label" for="netValue">{{'purchaseform.label.netValue'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="3" step="0.01" class="form-control" id="creditAdjValue">
                    </div>
                </form>
            </div>
        </div>
        <div class="row plr-15">
            <div class="col-sm-6">

                <h3>{{'purchaseform.label.asPerSoftware' | translate}} </h3>
                <div class="table-responsive">
                    <table class="table table-bordered scrollbar" id="purchaseSoftwareTable">
                        <thead>
                            <tr>
                                <th>{{'purchaseform.label.gst' | translate}} </th>
                                <th>{{'purchaseform.label.taxable' | translate}} </th>
                                <th>{{'purchaseform.label.cgstAmount' | translate}} </th>
                                <th>{{'purchaseform.label.sgstAmount' | translate}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div><label for="stgst" class="sr-only">{{'purchaseform.label.gst' | translate}}</label><input class="form-control" id="stgst" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="sttaxable" class="sr-only">{{'purchaseform.label.taxable' | translate}}</label><input class="form-control" id="sttaxable" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="stcgstAmount" class="sr-only">{{'purchaseform.label.cgstAmount' | translate}}</label><input class="form-control" id="stcgstAmount" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="stsgstAmount" class="sr-only">{{'purchaseform.label.sgstAmount' | translate}}</label><input class="form-control" id="stsgstAmount" type="text"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-sm-6">

                <h3>{{'purchaseform.label.asPerInvoice' | translate}} </h3>

                <div class="table-responsive">
                    <table class="table table-bordered scrollbar" id="purchaseInvoiceTable">
                        <thead>
                            <tr>
                                <th>{{'purchaseform.label.gst' | translate}} </th>
                                <th>{{'purchaseform.label.taxable' | translate}} </th>
                                <th>{{'purchaseform.label.cgstAmount' | translate}} </th>
                                <th>{{'purchaseform.label.sgstAmount' | translate}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div><label for="itgst" class="sr-only">{{'purchaseform.label.gst' | translate}}</label><input class="form-control" id="itgst" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="ittaxable" class="sr-only">{{'purchaseform.label.taxable' | translate}}</label><input class="form-control" id="ittaxable" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="itcgstAmount" class="sr-only">{{'purchaseform.label.cgstAmount' | translate}}</label><input class="form-control" id="itcgstAmount" type="text"></div>
                                </td>
                                <td>
                                    <div><label for="itsgstAmount" class="sr-only">{{'purchaseform.label.sgstAmount' | translate}}</label><input class="form-control" id="itsgstAmount" type="text"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <form class="form">
                    <div class="form-group col-sm-12">
                        <label class="col-form-label" for="debitAdjLedger">{{'purchaseform.label.debitAdjLedger'|translate}}:</label>
                        <input type="number" class="form-control ml15" id="debitAdjLedger">
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-form-label" for="creditAdjLedger">{{'purchaseform.label.creditAdjLedger'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="3" class="form-control ml11" id="creditAdjLedger">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-form-label" for="netValue">{{'purchaseform.label.netValue'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="2" step="0.01" class="form-control" id="netValue">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-form-label" for="remarks">{{'purchaseform.label.remarks'|translate}}:</label>
                        <input type="text" class="form-control" id="remarks">
                    </div>
                </form>

            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form class="form">
                    <div class="form-group col-sm-12">
                        <label class="col-form-label pl30" for="debitAdjValue">{{'purchaseform.label.debitAdjValue'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="3" step="0.01" class="form-control" id="debitAdjValue">
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-form-label pl30" for="creditAdjValue">{{'purchaseform.label.creditAdjValue'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="3" step="0.01" class="form-control" id="creditAdjValue">
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-form-label" for="invoiceValue">{{'purchaseform.label.invoiceValue'|translate}}:</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="3" step="0.01" class="form-control " id="invoiceValue">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
