
<!--<header-menu-bar></header-menu-bar>-->

<div class="container-fluid">
    <div class="row">
        <div class="ml30">
            <div class="row">
                <div class='text-left col-sm-12 pt7 ml15'>
                    <h2>{{'purchaseform.header.name' | translate}} </h2>
                </div>

                <div class="text-left col-sm-6">
                    <form class="form">
                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="purchaseNumber">{{'purchaseform.label.purchaseNumber'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10" id="purchaseNumber">
                        </div>
                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="invoiceNumber">{{'purchaseform.label.invoiceNumber'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10 ml5" id="invoiceNumber">
                        </div>
                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="supplier">{{'purchaseform.label.supplier'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10 ml60" id="supplier">
                        </div>
                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="GSTIN">{{'purchaseform.label.gstin'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10 ml60" id="GSTIN">
                        </div>

                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="waybillNumber">{{'purchaseform.label.waybillNumber'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10 ml11" id="waybillNumber">
                        </div>

                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="transport">{{'purchaseform.label.transport'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10 ml45" id="transport">
                        </div>

                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="cs">{{'purchaseform.label.cs'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10 ml90" id="cs">
                        </div>
                    </form>
                </div>

                <div class="text-left col-sm-6">
                    <form class="form">
                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="date">{{'purchaseform.label.date'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10 ml15" id="date">
                        </div>

                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="invoiceDate">{{'purchaseform.label.invoiceDate'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10 ml18" id="invoiceDate">
                        </div>
                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="mode">{{'purchaseform.label.mode'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10 ml11" id="mode">
                        </div>
                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="lrNumber">{{'purchaseform.label.lrNumber'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10 ml30" id="lrNumber">
                        </div>

                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="lrDate">{{'purchaseform.label.lrDate'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10" id="lrDate">
                        </div>

                        <div class="form-inline col-sm-6">
                            <label class="col-form-label" for="deliveredFrom">{{'purchaseform.label.deliveredFrom'|translate}}:</label>
                            <input type="text" class="form-control form-control-lg mb10" id="deliveredFrom">
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div><br/>
    <br/>

    <div class="table-responsive">
        <div class="ml30 mt10 mb10 p0">
            <table id="purchaseDetailTable" class="table table-bordered scrollbar">
                <thead>
                    <tr>
                        <th>{{'purchaseform.label.code' | translate}}</th>
                        <th>{{'purchaseform.label.productName' | translate}}</th>
                        <th>{{'purchaseform.label.batch' | translate}}</th>
                        <th>{{'purchaseform.label.expiry' | translate}}</th>
                        <th>{{'purchaseform.label.quantity' | translate}}</th>
                        <th>{{'purchaseform.label.free' | translate}}</th>
                        <th>{{'purchaseform.label.purRate' | translate}}</th>
                        <th>{{'purchaseform.label.otherCharges' | translate}}</th>
                        <th>{{'purchaseform.label.grsValue' | translate}}</th>
                        <th>{{'purchaseform.label.discount' | translate}}</th>
                        <th>{{'purchaseform.label.ptd' | translate}}</th>
                        <th>{{'purchaseform.label.saleRate' | translate}}</th>
                        <th>{{'purchaseform.label.tax' | translate}}</th>
                        <th>{{'purchaseform.label.hsn' | translate}}</th>
                        <th>{{'purchaseform.label.mrp' | translate}}</th>
                        <th>{{'purchaseform.label.mfgName' | translate}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="ml30">
            <form>
                <div class="form-inline col-sm-3">
                    <label class="col-form-label" for="grossValue">{{'purchaseform.label.grossValue'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg ml35" id="grossValue">
                </div>
                <div class="form-inline col-sm-3">
                    <label class="col-form-label" for="discountValue">{{'purchaseform.label.discountValue'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg" id="discountValue">
                </div>
                <div class="form-inline col-sm-3">
                    <label class="col-form-label" for="taxValue">{{'purchaseform.label.taxValue'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg" id="taxValue">
                </div>
                <div class="form-inline col-sm-3">
                    <label class="col-form-label" for="netValue">{{'purchaseform.label.netValue'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg" id="creditAdjValue">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ml30">
                <h3>{{'purchaseform.label.asPerSoftware' | translate}} </h3>
                <div class="table-responsive">
                    <table class="table table-bordered scrollbar" id="purchaseSoftwareTable">
                        <thead>
                            <tr>
                                <th>{{'purchaseform.label.gst' | translate}} </th>
                                <th>{{'purchaseform.label.taxable' | translate}} </th>
                                <th>{{'purchaseform.label.cgstAmount' | translate}} </th>
                                <th>{{'purchaseform.label.sgstAmount' | translate}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="ml30">
                <h3>{{'purchaseform.label.asPerInvoice' | translate}} </h3>
                <div class="table-responsive">
                    <table class="table table-bordered scrollbar" id="purchaseInvoiceTable">
                        <thead>
                            <tr>
                                <th>{{'purchaseform.label.gst' | translate}} </th>
                                <th>{{'purchaseform.label.taxable' | translate}} </th>
                                <th>{{'purchaseform.label.cgstAmount' | translate}} </th>
                                <th>{{'purchaseform.label.sgstAmount' | translate}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ml30">
            <form class="form">
                <div class="form-inline col-sm-6">
                    <label class="col-form-label" for="debitAdjLedger">{{'purchaseform.label.debitAdjLedger'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg ml15" id="debitAdjLedger">
                </div>
                <div class="form-inline col-sm-6">
                    <label class="col-form-label pl30" for="debitAdjValue">{{'purchaseform.label.debitAdjValue'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg" id="debitAdjValue">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="ml30">
            <form class="form">
                <div class="form-inline col-sm-6">
                    <label class="col-form-label" for="creditAdjLedger">{{'purchaseform.label.creditAdjLedger'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg ml11" id="creditAdjLedger">
                </div>
                <div class="form-inline col-sm-6">
                    <label class="col-form-label pl30" for="creditAdjValue">{{'purchaseform.label.creditAdjValue'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg" id="creditAdjValue">
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="ml30">
            <form class="form">
                <div class="form-inline col-sm-4">
                    <label class="col-form-label" for="netValue">{{'purchaseform.label.netValue'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg" id="netValue">
                </div>
                <div class="form-inline col-sm-4">
                    <label class="col-form-label" for="remarks">{{'purchaseform.label.remarks'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg" id="remarks">
                </div>
                <div class="form-inline col-sm-4">
                    <label class="col-form-label" for="invoiceValue">{{'purchaseform.label.invoiceValue'|translate}}:</label>
                    <input type="text" class="form-control form-control-lg " id="invoiceValue">
                </div>

            </form>
        </div>
    </div>

</div>

<!-- end container -->
<div class="col-xs-12 fmt30">
    <!--Footer margin top below 768px-->
</div>
<footer-component></footer-component>
