<div class="login-page">
  <div class="form">
    <form class="login-form">
<form class="register-form">
  <input type="text" ng-model="vm.userName"  placeholder="User Name"/>
  <input type="password" ng-model="vm.password" placeholder="Password"/>
  <input type="password" ng-model="vm.confirmPassword"  placeholder="Confirm Password"/>
  <input type="text"  ng-model="vm.address" placeholder="Address"/>
  <input type="text" ng-model="vm.town"  placeholder="Town"/>
  <input type="tel" ng-model="vm.mobile" placeholder="Mobile"/>
  <input type="email" ng-model="vm.email" placeholder="Email Address"/>
  <input type="text" ng-model="vm.designation" placeholder="Designation"/>
  <input type="text" ng-model="vm.userLevel"  placeholder="UserLevel"/>
  <button ng-click="vm.create()">create</button>
  <p class="message">Already registered? <a href="/login">Sign In</a></p>
</form>
</form>
</div>
</div>
