<div class="content">
    <div class="row fixed">
      <div class="col-md-12 centreAllign">
        <h1>Accounts Information</h1>
      </div>
    </div>
    <div class="formContainer">
      <form name="accountInformation" method="post">
        <div class="form-group">
          <label for="accountName">Account Name</label>
          <input type="text" class="form-control" id="InputAccountName" placeholder="Enter Account Holder Name">
          <small id="accHelp" class="form-text text-muted">Accname in accinfo table</small>
        </div>
        <div class="form-group">
          <label for="scheduleName">Schedule Name</label>
          <input type="text" class="form-control" id="InputScheduleName" placeholder="Enter Schedule Name">
          <small id="accScheduleHelp" class="form-text text-muted">(accschid)</small>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="address1">Address1</label>
            <input type="text" class="form-control" id="InputAddress1" placeholder="Enter Address">
            <small id="accadd1" class="form-text text-muted">(accadd1)</small>
          </div>
          <div class="col-md-6">
            <label for="address2">Address2</label>
            <input type="text" class="form-control" id="InputAddress2">
            <small id="accadd2" class="form-text text-muted">(accadd2)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <label for="town">Town</label>
            <input type="text" class="form-control" id="town">
            <small id="acctownid" class="form-text text-muted">(acctownid)</small>
          </div>
          <div class="col-md-3">
            <label for="pinCode">Pin</label>
            <input type="number" class="form-control" id="pin">

          </div>
          <div class="col-md-6">
            <label for="areaName">Area Name</label>
            <input type="text" class="form-control" id="areaName">
            <small id="accareaid" class="form-text text-muted">(accareaid)</small>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <label for="districtName">District Name</label>
            <select class="form-control" id="districtName" value="Select District">
      <option>Select District</option>
      <option>East Godavari</option>
    </select>
            <small id="accdistid" class="form-text text-muted">(accdistid)</small>
          </div>
          <div class="col-md-6">
            <label for="stateName">State Name</label>
            <select class="form-control" id="stateName" value="Select State">
      <option>Select State</option>
      <option>Andhra pradesh</option>
    </select>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" id="phone">
            <small id="accphone" class="form-text text-muted">(accphone)</small>
          </div>
          <div class="col-md-3">
            <label for="mobile1">Mobile1</label>
            <input type="number" class="form-control" id="mobile1">
            <small id="accmobile1" class="form-text text-muted">(accmobile1)</small>
          </div>
          <div class="col-md-3">
            <label for="mobile2">Mobile2</label>
            <input type="number" class="form-control" id="mobile2">
            <small id="accmobile2" class="form-text text-muted">(accmobile2)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="email">eMail</label>
            <input type="email" class="form-control" id="email">
            <small id="accemail" class="form-text text-muted">(accemail)</small>
          </div>
          <div class="col-md-6">
            <label for="skype">Skype</label>
            <input type="text" class="form-control" id="skype">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="contactPerson">Contact Person</label>
            <input type="text" class="form-control" id="contactPerson">
            <small id="acccperson" class="form-text text-muted">(acccperson)</small>
          </div>
          <div class="col-md-6">
            <label for="mobile">Mobile</label>
            <input type="number" class="form-control" id="mobile">
            <small id="accpermobile" class="form-text text-muted">(accpermobile)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="licenseNo1">License No1.</label>
            <input type="text" class="form-control" id="licenseNo1">
            <small id="acclicno1" class="form-text text-muted">(acclicno1)</small>
          </div>
          <div class="col-md-6">
            <label for="licenseNo2">License No2.</label>
            <input type="text" class="form-control" id="licenseNo2">
            <small id="acclicno2" class="form-text text-muted">(acclicno2)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="retLicNo1">Ret.Lic.No1.</label>
            <input type="text" class="form-control" id="retLicNo1">
            <small id="accretlicno1" class="form-text text-muted">(accretlicno1)</small>
          </div>
          <div class="col-md-6">
            <label for="retLicNo2">Ret.Lic.No2.</label>
            <input type="text" class="form-control" id="retLicNo2">
            <small id="accretlicno2" class="form-text text-muted">(accretlicno2)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="licenseExpiry">License Expiry</label>
            <input type="date" class="form-control" id="licenseExpiry">
            <small id="acclicexpdt" class="form-text text-muted">(acclicexpdt)</small>
          </div>
          <div class="col-md-6">
            <label for="cst">CST</label>
            <input type="number" class="form-control" id="cst">
            <small id="acccst" class="form-text text-muted">(acccst)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="tin">TIN</label>
            <input type="number" class="form-control" id="tin">
            <small id="acctin" class="form-text text-muted">(acctin)</small>
          </div>
          <div class="col-md-6">
            <label for="grn">GRN</label>
            <input type="text" class="form-control" id="grn">
            <small id="accgrn" class="form-text text-muted">(accgrn)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="foodLicense">Food License</label>
            <input type="text" class="form-control" id="foodLicense">
            <small id="accflicno" class="form-text text-muted">(accflicno)</small>
          </div>
          <div class="col-md-6">
            <label for="gst">GST</label>
            <input type="text" class="form-control" id="gst">
            <small id="accregno" class="form-text text-muted">(accregno)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="transMode">Trans.Mode</label>
            <select class="form-control" id="transMode" value="Select">
      <option>Select</option>
      <option>Cash</option>
	  <option>Credit</option>
    </select>
            <small id="acctranmode" class="form-text text-muted">(acctranmode)</small>
          </div>
          <div class="col-md-6">
            <label for="partyType">Party Type</label>
            <select class="form-control" id="partyType" value="Select">
      <option>Select</option>
      <option>Wholesale</option>
	  <option>Retail</option>
    </select>
            <small id="accpartytype" class="form-text text-muted">(accpartytype)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="paymentMode">Payment Mode</label>
            <select class="form-control" id="paymentMode" value="Select">
      <option>Select</option>
      <option>Fifo</option>
	  <option>Specific</option>
    </select>
            <small id="accpaymode" class="form-text text-muted">(accpaymode)</small>
          </div>
          <div class="col-md-6">
            <label for="discount">Discount(%)</label>
            <input type="number" class="form-control" id="discount">
            <small id="accdisc" class="form-text text-muted">(accdisc)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="dueDays">Due Days</label>
            <input type="number" class="form-control" id="dueDays">
            <small id="accduedays" class="form-text text-muted">(accduedays)</small>
          </div>
          <div class="col-md-6">
            <label for="creditLimit">Credit Limit</label>
            <input type="number" class="form-control" id="creditLimit">
            <small id="acccrlimit" class="form-text text-muted">(acccrlimit)</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="openingBalance">Opening Balance</label>
            <input type="number" class="form-control" id="dueDays">
            <small id="accopbal" class="form-text text-muted">(accopbal)</small>
          </div>
          <div class="col-md-6">
            <label for="opBalMode">Op.Bal.Mode</label>
            <select class="form-control" id="opBalMode" value="Select">
      <option>Select</option>
      <option>Debit</option>
	  <option>Credit</option>
    </select>
            <small id="accopmode" class="form-text text-muted">(accopmode)</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
          <div class="col-md-1 buttonSpacing">
            <button type="Reset" class="btn btn-secondary">Clear</button>
          </div>
          <br>
        </div>
      </form>
    </div>
  </div>
