<nav class="navbartop navbar-light">
    <div class="container-fluid">
        <div class="navbar-header col-sm-2">
            <a href="#"> <img src="/public/Images/logo.png" class="navbartop" alt="logo"></a>
        </div>

    </div>
</nav>

<div class="container">
    <div class='row'>
        <div class='col-xs-12'>
            <form>
                <div class='text-left pt7'>
                    <h2>{{'registrationForm.header.register' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="scheduleName">{{'registrationForm.label.username' | translate}}:*</label>
                    <input type="text" class="form-control" id="userName" placeholder="user name" ng-model="vm.userName" required>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="scheduleName">{{'registrationForm.label.password' | translate}}:*</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.password">
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="scheduleName">{{'registrationForm.label.address' | translate}}:*</label>
                    <input type="text" class="form-control" id="address" placeholder="Address" ng-model="vm.address">
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="scheduleName">{{'registrationForm.label.town' | translate}}:*</label>
                    <input type="text" class="form-control" id="userName" placeholder="user name" ng-model="vm.userName" required>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="scheduleName">{{'registrationForm.label.email' | translate}}:*</label>
                    <input type="text" class="form-control " id="userName" placeholder="user name" ng-model="vm.userName" required>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="scheduleName">{{'registrationForm.label.mobile' | translate}}:*</label>
                    <input type="text" class="form-control " id="userName" placeholder="user name" ng-model="vm.userName" required>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="scheduleName">{{'registrationForm.label.designation' | translate}}:*</label>
                    <input type="text" class="form-control " id="userName" placeholder="user name" ng-model="vm.userName" required>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="scheduleName">{{'registrationForm.label.userlevel' | translate}}:*</label>
                    <input type="text" class="form-control " id="userName" placeholder="user name" ng-model="vm.userName" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()">{{'button.save' | translate}}
					</button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>
            </form>
        </div>
    </div>
</div>

<footer-component></footer-component>
