<div  class="content">
  <div class="row fixed">
    <div class="col-md-12">
      <h1 ng-if="vm.normalScreen">Schedule Form</h1>
      <h1 ng-if="vm.editScreen">Edit Schedule</h1>
    </div>
  </div>
  <div class="formContainer">
    <form name="schemeInformation">
      <div class="form-group">
        <label for="schemeName">ScheduleName</label>
        <input type="text" class="form-control formWidthClass" id="schemeName" placeholder="ScheduleName" ng-model="vm.schemeName">
      </div>
      <div class="form-group">
        <label for="schemeNo">ScheduleNo</label>
        <input type="text" class="form-control formWidthClass" id="SchemeNo" placeholder="ScheduleNo" ng-model="vm.schemeNo">
      </div>
      <div class="form-group">
        <label for="schemeType">ScheduleType</label>
        <select ng-model="vm.schemeType"  class="form-control formWidthClass">
                  <option value="0">Select</option>
                  <option ng-repeat="schemeTypes in vm.schemeTypes" value="{{schemeTypes.name}}" ng-selected="schemeTypes.name === vm.schemeType">{{schemeTypes.name}}</option>
        </select>
      </div>
        <div class="col-md-2 saveButtonMargin">
          <button type="submit" class="btn btn-primary" ng-click="vm.save()">Save</button>
        </div>
    </form>
  </div>
  <div class="formContainer">
    <form name="searchDetails">
      <div class="form-group row">
        <div class="col-md-2 formLabelPadding">
        <label for="schemeName">ScheduleName:</label>
      </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="schemeName" placeholder="SchemeName" ng-model="vm.searchSchemeName">
        </div>
        <div class="col-md-2 formLabelPadding">
        <label for="schemeNo">ScheduleNo:</label>
      </div>
      <div class="col-md-3 inputTypeMargin2">
        <input type="text" class="form-control" id="SchemeNo" placeholder="SchemeNo" ng-model="vm.searchSchemeNo">
    </div>

        <div class="col-md-2 searchMarginButton">
          <button type="submit" class="btn btn-primary" ng-click="vm.search()">Search</button>
        </div>
      </div>
    </form>
    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
  </div>



  <div class="row fixed">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Schedule Name</th>
          <th>Schedule No</th>
          <th>Schedule Type</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="schemes in vm.data" ng-if="vm.data.length>0" ng-click="vm.setSelected(schemes.name, schemes.no, schemes.type, $index)" ng-class="{selected: schemes.name === vm.selectedName}">
          <td>{{schemes.name}}</td>
          <td>{{schemes.no}}</td>
          <td>{{schemes.type}}</td>
        </tr>
      </tbody>
    </table>
    <div ng-if="vm.selected" class="form-group row tableButtonAllignment">
      <div class="col-md-5">
        <button type="submit" class="btn btn-primary" ng-click="vm.edit()">Edit</button>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" ng-click="vm.delete()">Delete</button>
      </div>

  </div>

    </div>
    </div>
