<div class="container-fluid">
    <div class='row py-y'>
        <div class='col-xs-12 col-sm-5 left-align'>
            <form name="form" id="form">
                <div class='text-left pt7'>
                    <h2>{{'scheduleform.header.name' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="scheduleName">{{'scheduleform.label.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="Name" id="scheduleName" maxlength="40" ng-model="vm.scheduleName" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="scheduleNumber">{{'scheduleform.label.index' | translate}}:*</label>
                    <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="2" class="form-control form-control-lg" name="Name" id="scheduleNumber" ng-blur="vm.validateSchIndex()" ng-model="vm.scheduleNo" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="ScheduleType ">{{'scheduleform.label.type' | translate}}:</label>
                    <select ng-model="vm.scheduleType" ng-click="vm.searchSelect()" class="selectpicker1 form-control form-control-lg form-control form-control-lg" id="ScheduleType" data-live-search="true">
						<option value="0" required>Select</option>
						<option ng-repeat="scheduleType in vm.scheduleTypes" value="{{scheduleType.code}}"
								 data-content="{{scheduleType.description}}">{{scheduleType.description}}
						</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()" ng-disabled="(form.$invalid || vm.hasDuplicateScheIndex)">{{'button.save' | translate}}
                </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.save()" ng-disabled="(form.$invalid|| vm.hasDuplicateScheIndex)">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>

            </form>
        </div>

        <div class='col-xs-12 col-sm-7 right-align'>
            <form id="searchScheduleForm" class="form-inline text-left mt25">
                <div class="form-group">
                    <label class="col-form-label" for="ScheduleType">{{'common.label.searchby' | translate}}:</label>
                    <select ng-model="vm.searchBySchedule" class="form-control form-control-lg" id="searchby" name="searchScheduleType">
                         <option value="">Select</option>
                        <option value="scheduleType">scheduleType</option>
                         <option value="scheduleName">scheduleName</option>
                      <!--<option ng-repeat="scheduleType in vm.scheduleTypes" value="{{scheduleType.code}}">{{scheduleType.description}}

</option>-->
                    </select>
                </div>
                <div class="form-group mx-sm-3">
                    <label for="ScheduleName" class="sr-only mt10">{{'scheduleform.label.name' | translate}}</label>
                    <input type="text" class="form-control" id="scheduleform" placeholder="Enter text to search" ng-model="vm.searchText" ng-change="GetValue()" required>
                </div>
            </form>

            <common-grid-component filter-options="{scheduleType:vm.searchTextType, scheduleName: vm.searchTextName}" grid-data="vm.data" grid-call-back="vm.onSelectRow(value, index)" row-number="vm.selectedRow" hidden-column-keys="vm.hiddenColArr" no-of-view-columns="vm.noOfViewColumns"></common-grid-component>
            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>

                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.confirm()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>
</div>
