<div class="formContainer" >
	
	<div class="form-group row">
		<div class="col-2"><label for="searchScheduleName">Schedule Name:</label></div>
		<div class="col-md-3">
		<input type="text" class="form-control formWidthClass" id="scheduleName" placeholder="Schedule Name" ng-model="vm.searchScheduleName">
		</div>
		
		<div class="col-2"><label for="searchScheduleNumber">Schedule #:</label></div>
		<div class="col-md-3 text-align-left">
		<input type="text" class="form-control formWidthClass" id="scheduleName" placeholder="Schedule Number" ng-model="vm.searchScheduleNumber">
		</div>
		
		<div class="col-1"><button type="submit" class="btn btn-primary" ng-click="vm.search()">Search</button></div>
		
	</div>	

	<label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>

	<div class="form-group row">
		<table class="table table-bordered">
			<thead>
				<tr>
				<th>Schedule Name</th>
				<th>Schedule #</th>
				<th>Schedule Type</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="schemes in vm.data" ng-if="vm.data.length>0" ng-click="vm.setSelected(schemes.name, schemes.no, schemes.type, $index)" ng-class="{selected: schemes.name === vm.selectedName}">
				<td>{{schemes.name}}</td>
				<td>{{schemes.no}}</td>
				<td>{{schemes.type}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="form-group row">
		<div ng-if="vm.selected" class="col-md-2">
			<button type="submit" class="btn btn-primary" ng-click="vm.edit()">Edit</button>
			<button type="submit" class="btn btn-primary" ng-click="vm.delete()">Delete</button>
		</div>
	</div>

</div>