<div class="container-fluid">
    <div class='row py-y'>
        <div class='col-xs-12 col-sm-5'>
            <form>
                <div class='text-left pt7'>
                    <h2>{{'stateinformation.header.name' | translate}} </h2>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="stateName">{{'stateinformation.label.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="stateName" id="stateName" maxlength="40" ng-model="vm.stateName" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="code">{{'stateinformation.label.code' | translate}}:*</label>
                    <input type="number" class="form-control form-control-lg" name="code" id="code" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2" min="0" ng-model="vm.stateCode" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="Zone">{{'stateinformation.label.zone' | translate}}:</label>
                    <select class="form-control form-control-lg" id="Zone" ng-model="vm.stateZone">
                         
                        <option value="0">Select</option>
						<option ng-repeat="stateZone in vm.stateZones" value="{{stateZone.code}}"
								 data-content="{{stateZone.description}}">{{stateZone.description}}
						</option>
                        <!--<option value="East">East</option>
                            <option value="West">West</option>
                            <option value="South">South</option>
                            <option value="North">North</option>-->
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()">{{'button.save' | translate}}
                    </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.save()">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>

            </form>
        </div>

        <div class='col-xs-12 col-sm-7 '>
            <form class="form-inline mt25">
                <label class="col-form-label" for="ScheduleType">{{'common.label.searchby' | translate}}:</label>
                <div class="form-group mx-sm-3">
                    <label for="stateName" class="sr-only mt10">{{'stateinformation.label.name' | translate}}</label>
                    <input type="text" class="form-control" id="stateName" placeholder="{{'stateinformation.label.name' | translate}}" ng-model="vm.searchScheduleName" required>
                </div>
                <div class="form-group mx-sm-3">
                    <label for="zone" class="sr-only mt10">{{'stateinformation.label.zone' | translate}}</label>
                    <input type="text" class="form-control" id="zone" placeholder="{{'stateinformation.label.zone' | translate}}" ng-model="vm.searchScheduleNumber" required>
                </div>
            </form>
              <common-grid-component filter-options="vm.state" grid-data="vm.data" grid-call-back="vm.onSelectRow(value, index)" row-number="vm.selectedRow" hidden-column-keys="vm.hiddenColArr" no-of-view-columns="vm.noOfViewColumns"></common-grid-component>
           
            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div> 
        </div> 
    </div>
</div>
