<section class="section">
<div class="section-inner">
<h2>States Information</h2>
<div class="section-inner-wrp">
  <form action="">
    <h5>State name:</h5>
    <input class="form-control formWidthClass" type="text" name="stateName" value="">
    <h5 class="form-padding">Zone:<h5>
    <select class="form-control formWidthClass">
      <option value="East">East</option>
      <option value="West">West</option>
      <option value="South">South</option>
      <option value="North">North</option>
    </select>
    <br><br>
    <button class="btn btn-primary"> Save </button>
  </form>
</div>
</div>
<div></div>
</section>
