<header-menu-bar></header-menu-bar>

<div class="container">
    <div class='row'>

        <div class='col-xs-12 col-sm-5'>
            <form>
                <div class='text-left pt7'>
                    <h2>{{'subscheduleform.header.name' | translate}} </h2>
                </div>
                <div class="form-group col-sm-12 mt20">
                    <label class="col-form-label" for="subScheduleName">{{'subscheduleform.label.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="Name" id="subScheduleName" required>
                </div>

                <div class=" form-group col-sm-8">
                    <label class="col-form-label " for="scheduleName ">{{'subscheduleform.label.scheduleName' | translate}}:*</label>
                    <input type="text " class="form-control form-control-lg " name="scheduleName " id="scheduleName " required>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-form-label " for="scheduleIndex ">{{'subscheduleform.label.scheduleIndex' | translate}}:</label>
                    <input type="text " class="form-control form-control-lg " name="scheduleIndex " id="scheduleIndex " required>
                </div>

                <div class="form-group col-sm-12">
                    <label class="col-form-label " for="index ">{{'subscheduleform.label.index' | translate}}:*</label>
                    <input type="text " class="form-control form-control-lg " name="index " id="index " ng-model="vm.scheduleNo " required>
                </div>


                <div class="form-group ">
                    <button type="submit " class="btn btn-primary mb15 " ng-click="vm.create() ">{{'button.save' | translate}}
                    </button>
                </div>
            </form>
        </div>


    </div>

</div>
<div class="col-xs-12 fmt30 ">
    <!--Footer margin top below 768px-->
</div>
<footer-component></footer-component>
