<header-menu-bar></header-menu-bar>

<div class="container-fluid">
    <div class='row pyr-10 pyl-10'>

        <div class='col-xs-12 col-sm-5'>
            <form>
                <div class='form-group col-sm-12 text-left pt7'>
                    <h2>{{'subscheduleform.header.name' | translate}} </h2>
                </div>
                <div class="form-group col-sm-12 mt10">
                    <label class="col-form-label" for="subScheduleName">{{'subscheduleform.label.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="Name" id="subScheduleName" maxlength="40" required>
                </div>

                <div class=" form-group col-sm-12">
                    <label class="col-form-label " for="scheduleName ">{{'subscheduleform.label.scheduleName' | translate}}:*</label>
                    <input type="text " class="form-control form-control-lg " name="scheduleName" id="scheduleName" maxlength="40" required>
                </div>

                <!--<div class="form-group col-sm-4">-->
                    <!--<label class="col-form-label " for="scheduleIndex ">{{'subscheduleform.label.scheduleIndex' | translate}}:</label>-->
                    <!--<input type="text " class="form-control form-control-lg " name="scheduleIndex" id="scheduleIndex" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="2" required>-->
                <!--</div>-->

                <div class="form-group col-sm-12">
                    <label class="col-form-label " for="index ">{{'subscheduleform.label.index' | translate}}:*</label>
                    <input type="number" class="form-control form-control-lg" name="index" id="index" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="2" required>
                </div>

                <div class="form-group  col-sm-12">
                    <button type="submit" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()">{{'button.save' | translate}}
                    </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.save()">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>
            </form>
        </div>
        <div class='col-xs-12 col-sm-1'></div>

        <div class='col-xs-12 col-sm-6'>

            <form class="form-inline text-left mt25">
                <label class="col-form-label" for="ScheduleType">{{'common.label.searchby' | translate}}:</label>
                <div class="form-group mx-sm-3">
                    <label for="subScheduleName" class="sr-only mt10">{{'subscheduleform.label.name' | translate}}</label>
                    <input type="text" class="form-control" id="subScheduleName" placeholder=" Sub Schedule Name" ng-model="vm.schedule.name" required>
                </div>
                <div class="form-group mx-sm-3">
                    <label for="scheduleName" class="sr-only mt10">{{'subscheduleform.label.scheduleName' | translate}}</label>
                    <input type="text" class="form-control" id="scheduleName" placeholder="Schedule Name" ng-model="vm.schedule.name" required>
                </div>
            </form>
            <div class="tableDiv mt10 mb10 p0">
                <table id="scheduleTable" class="table table-fixedheader table-lg table-bordered scrollbar" ng-init="vm.search()">
                    <thead>
                        <tr>
                            <th>{{'subscheduleform.label.name' | translate}}</th>
                            <th>{{'subscheduleform.label.index' | translate}}</th>
                            <th>{{'subscheduleform.label.scheduleName' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schemes in vm.data |filter:vm.schedule:vm.startsWith" ng-click="vm.setSelected(schemes.name, schemes.no, schemes.type, $index)" ng-class="{selected: schemes.name === vm.selectedName}">
                            <td>{{schemes.name}}</td>
                            <td>{{schemes.no}}</td>
                            <td>{{schemes.type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>
                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.delete()">{{'button.delete' | translate}}</button>
            </div>
        </div>
    </div>

</div>
<div class="col-xs-12 fmt30 ">
    <!--Footer margin top below 768px-->
</div>
<footer-component></footer-component>
