<div class="container-fluid">
    <div class='row pyr-10 pyl-10'>
        <div class='col-xs-12 col-sm-5'>
            <form name="form">
                <div class='form-group col-sm-12 text-left pt7'>
                    <h2>{{'subscheduleform.header.name' | translate}} </h2>
                </div>
				
                <div class="form-group col-sm-12 mt10">
                    <label class="col-form-label" for="subScheduleName">{{'subscheduleform.label.name' | translate}}:*</label>
                    <input type="text" class="form-control form-control-lg" name="Name" id="subScheduleName" maxlength="40" ng-model="vm.subScheduleName" ng-readonly="vm.editScreen" ng-change="vm.autoCapitalize(vm.subScheduleName)" uppercase required>
                </div>

                <div class=" form-group col-sm-12">
                    <label class="col-form-label " for="scheduleName ">{{'subscheduleform.label.scheduleName' | translate}}:*</label>
					<common-typeahead-component typeahead-list="vm.scheduleNameArr" 
					typeahead-model="vm.typeaheadSelected"  typeahead-on-select="vm.SelectedTypeahead({value:vm.typeaheadModel})"
					typeahead-value="vm.typeaheadStaticValue"></common-typeahead-component>
                </div>
				
                <div class="form-group col-sm-12">
                    <label class="col-form-label " for="index ">{{'subscheduleform.label.index' | translate}}:*</label>
                    <input type="number" class="form-control form-control-lg" name="index" id="index" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="2" ng-model="vm.subScheduleIndex" ng-blur="vm.validateSchIndex()" required>

                </div>
				
                <div class="form-group  col-sm-12">
                    <button type="button" class="btn btn-primary mb5" ng-click="vm.reset()">{{'button.reset' | translate}}</button>
                    <button ng-if="!vm.editScreen" type="submit" class="btn btn-primary  mb5" ng-click="vm.create()" ng-disabled="(form.$invalid || vm.hasDuplicateScheIndex)">{{'button.save' | translate}}
                    </button>
                    <button ng-if="vm.editScreen" type="submit" class="btn btn-primary mb5" ng-click="vm.save()" ng-disabled="(form.$invalid || vm.hasDuplicateScheIndex)">{{'button.save' | translate}}</button>
                    <label ng-if="vm.messageContainer" class="edit-delete-message">{{vm.errorMessage}}</label>
                </div>

            </form>
        </div>

		<div class='col-xs-12 col-sm-7 right-align'>
            <form class="form-inline text-left mt25">
                <div class="form-group">
                    <label class="col-form-label" for="ScheduleType">{{'common.label.searchby' | translate}}:</label>
                    <select ng-model="vm.searchBy" class="form-control form-control-lg" id="searchby" name="searchBy">
                         <option value="">Select</option>
                        <option value="scheduleName">{{'subscheduleform.label.scheduleName' | translate}}</option>
                         <option value="subScheduleName">{{'subscheduleform.label.name' | translate}}</option>
                    </select>
                </div>
                <div class="form-group mx-sm-3">
                    <label for="searchText" class="sr-only mt10">{{'scheduleform.label.name' | translate}}</label>
                    <input type="text" class="form-control"  placeholder="Enter text to search" ng-model="vm.searchText" ng-change="vm.GetValue()" required>
                </div>
            </form>

            <common-grid-component filter-options="{subScheduleName: vm.searchSubScheduleName, scheduleName: vm.searchScheduleName}" grid-data="vm.subScheduleDataArr" grid-call-back="vm.onSelectRow(value, index)" row-number="vm.selectedRow" hidden-column-keys="vm.hiddenColArr" no-of-view-columns="vm.noOfViewColumns"></common-grid-component>
			
            <div class="btn-align p0" ng-if="vm.selected">
                <button type="submit" class="btn btn-primary searchEdit btn-position" ng-click="vm.edit()">{{'button.edit' | translate}}</button>

                <button type="submit" class="btn btn-primary btn-position" ng-click="vm.confirm()">{{'button.delete' | translate}}</button>
            </div>
        </div>
		
    </div>
</div>
