<nav class="navbartop navbar-light">
    <div class="container-fluid">
        <div class="navbar-header col-sm-2">
            <a href="#"> <img src="/public/Images/logo.png" class="navbartop" alt="logo"></a>
        </div>
        <div class="col-sm-7">
        </div>
        
    </div>
</nav>
<div class="container">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-mt">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">401 (UNAUTHORIZED)</div>
            </div>

            <div data-class="panel-class-body" class="panel-body">

                <div class="d-none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form">
<div class="page-wrap">
					<h1>401</h1>
					<h2>unauthorized</h2>
					<p>Well, what to say. Hmm? Sorry ... Please login again</p>
					<p><a href="/">home</a></p>
				  </div>
                    
                </form>
            </div>
        </div>
    </div>

    
</div>
