body{
  background-color: #c8d4e8 !important;
  overflow-x:-webkit-paged-x;
  overflow-y: -webkit-paged-y;
}

ul > li a {
  color: white !important;
}

ul > li a:hover {
  text-decoration: none !important;
}

ul > li:hover {
  color: black !important;
  background-color: red !important;
  text-decoration: none !important;
}

.eskay-nav-main {
  display: flex; }

.btn {
  border-radius: 0px !important;
  padding-left: 28px !important;
  padding-right: 28px !important; }

.btn-style {
  background-color: black !important;
  color: white !important; }

.btn-style:hover {
  background-color: red !important;
  color: black !important; }




.eskay-title {
  background-color: #ecae3b;
  padding: 10px; }

.list-style {
  overflow: hidden;
  background-color: #333;
  font-family: Arial; }

.list-style-items {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

.list-scroll-style {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 30px;
  max-height: 350px;
  background-color: black !important;
  padding-left: 8px !important;
  width: 50% !important;
  margin-top: -2px !important;}


.fixed-footer {
  background-color: #726a6c;
  font-size: 18px;
  height: 50px;
  color: #FFF;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 102%; }
  .dropbtn {
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }


  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdown .dropbtn {

      width: 158px;
      text-align: center;
  }
  .dropdown-menu{
  left: -1.8px !important;
  min-width: 10.1rem !important;
  }
