.section{
  display: block;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 40px;
}
.section-inner{
  padding: 30px;
}
.section-inner-wrp{
  padding: 10px;
}
.form-padding{
  padding-top: 10px;
}
.login-user-name{
    margin-right: 15px;
}
.login-pw{
  margin-right: 15px;
  margin-left: 15px;
}
.login-btn{
  margin-left: 15px;
}
.login-p{
  margin-top: 10px;
}
.formLabelPadding{
      padding-top: 0.75%;
}
.inputTypeMargin
{    margin-left: -50px;}
.mailingAddress{
  padding: 0 20px 0 5px;
}

.contact-details {
  padding: 1px 90px 0 !important; }

.fixedHeader {
  background-color: #d00c2d;
  font-size: 18px;
  height:30px;
  color: #FFF;
}
.contactPhone{
  margin-left: 10px;
}
.Contact-Us{
  padding-top: 2px;
  padding-left: 100px;
}
// a.linkColor{
//   color: #FFF !important;
//   text-decoration: none !important;
// }
// a:hover{
//   color: #FFF !important;
//   text-decoration: none !important;
//   cursor: pointer;
// }
.spanPadding{
  padding: 10px;
  margin-top: -5px;
}
.contactUsIcons{
    margin-left: 200px;
}
.content{
    background-color: rgba(204, 204, 204, 0.19);
}
.formContainer{
    max-width: 80%;
    margin: auto;
    padding:1.5%;
    background-color:#FFF;
}
.centreAllign{
    text-align: center;
}
.buttonSpacing{
      margin-left: 1%;
}
.footerContainer{
  background-color: #161515;
  color:#FFF;
  height: 225px;
}
.aboutUsContainer{
  margin-left:5%;
  max-width:90%;
}
ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}
li:before {
    content: "";
    border-color: transparent #FFF;
    margin-bottom:-3%;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
.transparentButton{
color: #fff!important;
background-color: transparent !important;
}
.fixed {
    max-width: 80%;
    background-color: #FFF;
    margin: auto !important;
    padding: 1.5%;
}
.selectApplication{
  background-image: url("../public/ico/services-background.jpg");
  max-height: 400px;
  min-height: 300px;
  width: 100%;
}
.indexContainer{
  width:80%;
  margin: auto;
  background-color:#FFF;
}
.fontColor{
  color:#FFF;
}
.linkContainer {
  border: 1px solid;
  margin: 2% 2% 0 5.4%;
  color: #FFF;
 }
.imageContainer{
  padding: 2%;
}
.moduleContainer{
  height: 200px;
  width: 80%;
  margin: auto;
}
.floatingButton{
  flaot: right;
}
